<h1>Acá se emostrarán las listas</h1>
<% if supplier_signed_in? && current_supplier.id == @supplier.id%>
  <%=link_to "Nueva lista", new_supplier_list_path%> <br><br>
  <%end%>

<%@lists.each do |list|%>
  <%if (list.free_shipping ==true )&&(list.promotion == false)%>
    <h3><%=list.title%></h3>
    <% if supplier_signed_in? && current_supplier.id == @supplier.id%>
      <%=link_to "Editar", edit_supplier_list_path(current_supplier,list)%>
      <%= link_to "Eliminar", list, method: :delete, data: { confirm: '¿Estás seguro de eliminar este producto?' } %>
    <%end%>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Rango por cantidad</th>
          <th scope="col">Procentaje de descuento</th>
          <th scope="col">Costo de envío</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Para todas las cantidades</td>
          <td>Precio único</td>
          <td>Gratis</td>
        </tr>
      </tbody>
    </table>
  <%else%>
    <h3><%=list.title%></h3>
    <% if supplier_signed_in? && current_supplier.id == @supplier.id%>
      <%=link_to "Editar", edit_supplier_list_path(current_supplier,list)%>
      <%= link_to "Eliminar", list, method: :delete, data: { confirm: '¿Estás seguro de eliminar este producto?' } %>
    <%end%>
    <%if list.quantity == true%>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Rango por cantidad</th>
            <th scope="col">Procentaje de descuento</th>
            <th scope="col">Costo de envío</th>
          </tr>
        </thead>
        <tbody>
          <%if list.q1 != nil%>
          <tr>
            <td><%=list.q1%> unidades</td>
            <td><%= (list.promotion == true) ? (list.p_q1).to_s+"%" : "Costo fijo"%></td>
            <td><%= (list.free_shipping == false) ? "$"+(list.sp_q1).to_s : "Gratis"%></td>
          </tr>
          <%end%>
          <%if list.q2 != nil%>
          <tr>
            <td><%=list.q2%> unidades</td>
            <td><%= (list.promotion == true) ? (list.p_q2).to_s+"%" : "Costo fijo"%></td>
            <td><%= (list.free_shipping == false) ? "$"+(list.sp_q2).to_s : "Gratis"%></td>
          </tr>
          <%end%>
          <%if list.q3 != nil%>
          <tr>
            <td><%=list.q3%> unidades</td>
            <td><%= (list.promotion == true) ? (list.p_q3).to_s+"%" : "Costo fijo"%></td>
            <td><%= (list.free_shipping == false) ? "$"+(list.sp_q3).to_s : "Gratis"%></td>
          </tr>
          <%end%>
          <%if list.q3 != nil%>
          <tr>
            <td><%=list.q4%> unidades</td>
            <td><%= (list.promotion == true) ? (list.p_q4).to_s+"%" : "Costo fijo"%></td>
            <td><%= (list.free_shipping == false) ? "$"+(list.sp_q4).to_s : "Gratis"%></td>
          </tr>
          <%end%>
        </tbody>
      </table>
    <%else%>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Rango por precio</th>
            <th scope="col">Procentaje de descuento</th>
            <th scope="col">Costo de envío</th>
          </tr>
        </thead>
        <tbody>
          <%if list.p1 != nil%>
          <tr>
            <td>$<%=list.p1%></td>
            <td><%= (list.promotion == true) ? (list.p_p1).to_s+"%" : "Costo fijo"%></td>
            <td><%= (list.free_shipping == false) ? "$"+(list.sp_p1).to_s : "Gratis"%></td>
          </tr>
          <%end%>
          <%if list.p2 != nil%>
          <tr>
            <td>$<%=list.p2%></td>
            <td><%= (list.promotion == true) ? (list.p_p2).to_s+"%" : "Costo fijo"%></td>
            <td><%= (list.free_shipping == false) ? "$"+(list.sp_p2).to_s : "Gratis"%></td>
          </tr>
          <%end%>
          <%if list.p3 != nil%>
          <tr>
            <td>$<%=list.p3%></td>
            <td><%= (list.promotion == true) ? (list.p_p3).to_s+"%" : "Costo fijo"%></td>
            <td><%= (list.free_shipping == false) ? "$"+(list.sp_p3).to_s : "Gratis"%></td>
          </tr>
          <%end%>
          <%if list.p4 != nil%>
          <tr>
            <td>$<%=list.p4%></td>
            <td><%= (list.promotion == true) ? (list.p_p4).to_s+"%" : "Costo fijo"%></td>
            <td><%= (list.free_shipping == false) ? "$"+(list.sp_p4).to_s : "Gratis"%></td>
          </tr>
          <%end%>
        </tbody>
      </table>
    <%end%>
  <%end%>

<%end%>
