<h2>Editar perfil</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <h3>Editar información básica</h3>
  <%if supplier_signed_in?%>
    <div class="field">
      <%= f.label "Link foto de perfil"  %><br />
      <%= f.text_field :profile_img, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label "Link foto de portada"  %><br />
      <%= f.text_field :cover_img, autofocus: true %>
    </div>
  <%end%>
  <div class="field">
    <%= f.label "Nombre completo"  %><br />
    <%= f.text_field :full_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Telefono celular"  %><br />
    <%= f.text_field :cel, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Pais"  %><br />
    <%= f.text_field :country, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Ciudad"  %><br />
    <%= f.text_field :city, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label "Dirección"  %><br />
    <%= f.text_field :dir, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <h3>Cambiar contraseña</h3>
  <div class="field">
    <%= f.label "Nueva contraseña" %> <i>(Deja el espacio en blanco si no quieres cambiarla)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em>Mínimo <%= @minimum_password_length %> caracteres</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label "Confirmación de la nueva contraseña" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <%if supplier_signed_in?%>
  <h3>Editar promociones</h3>
  <div class="field">
    <%= f.label "Promoción por ser usuario registrado" %><br />
    <%= f.number_field :p_ure, autocomplete: "off" %> %
  </div>
  <div class="field">
    <%= f.label "Descuento del día" %><br />
    <%= f.number_field :p_dia, autocomplete: "off" %> %
  </div>
  <div class="field">
    <%= f.label "Descuento por ser usuario recurrente" %><br />
    <%= f.number_field :p_cmin, autocomplete: "off" %> %
  </div>
  <div class="field">
    <%= f.label "Descuento por ser usuario mayorista" %><br />
    <%= f.number_field :p_cmay, autocomplete: "off" %> %
  </div>
  <div class="field">
    <%= f.label "Cantidad por compra para ser usuario mayorista" %><br />
    <%= f.number_field :cant_may, autocomplete: "off" %>
  </div>
  <%end%>

  <h3>Guardar cambios</h3>
  <div class="field">
    <%= f.label "Contraseña actual" %> <i>(Necesitamos tu contraseña actual para guardar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Editar" %>
  </div>
<% end %>

<h3>Cancelar mi subscripción</h3>

<%= button_to "Cancelar mi subscripción", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>

<%= link_to "Atrás", :back %>
