<h2>Editar perfil</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <h3>Editar información básica</h3>
  <%if supplier_signed_in?%>
    <div class="field">
      <%= f.label "Link foto de perfil"  %><br />
      <%= f.text_field :profile_img, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label "Link foto de portada"  %><br />
      <%= f.text_field :cover_img, autofocus: true %>
    </div>
  <%end%>
  <div class="field">
    <%= f.label "Nombre completo"  %><br />
    <%= f.text_field :full_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Pais"  %><br />
    <%= f.text_field :country, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Ciudad"  %><br />
    <%= f.text_field :city, autofocus: true %>
  </div>

  <h3>Información de contacto</h3>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Telefono celular"  %><br />
    <%= f.text_field :cel, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label "Dirección"  %><br />
    <%= f.text_field :dir, autofocus: true %>
  </div>

  <%if supplier_signed_in?%>

  <h3>Costos de envio</h3>
    <div class="field">
      <%= hidden_field_tag :free_shipping, false %>
      <%= check_box_tag :free_shipping, checked = true %> Envíos gratis</br></br>
    </div>

    <div class="field">
      Organizar envios por: <%= check_box_tag 'promotion_range', 'yes'%> Precio     <%= check_box_tag 'promotion_range', 'yes'%> Cantidad</br></br>
    </div>

    <div class="field">
      <h5>Rango de envios por precio</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Rango</th>
            <th scope="col">Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Compras mayores a $<%=f.number_field :sp1, autofocus: true%></td>
            <td>$<%=f.number_field :sp_p1, autofocus: true%></td>
          </tr>
          <tr>
            <td>Compras mayores a $<%=f.number_field :sp2, autofocus: true%></td>
            <td>$<%=f.number_field :sp_p2, autofocus: true%></td>
          </tr>
          <tr>
            <td>Compras mayores a $<%=f.number_field :sp3, autofocus: true%></td>
            <td>$<%=f.number_field :sp_p3, autofocus: true%></td>
          </tr>
          <tr>
            <td>Compras mayores a $<%=f.number_field :sp4, autofocus: true%></td>
            <td>$<%=f.number_field :sp_p4, autofocus: true%></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="field">
      <h5>Rango de envios por cantidad</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Rango</th>
            <th scope="col">Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Compras mayores a <%=f.number_field :sq1, autofocus: true%> unidades</td>
            <td>$<%=f.number_field :sp_q1, autofocus: true%></td>
          </tr>
          <tr>
            <td>Compras mayores a <%=f.number_field :sq2, autofocus: true%> unidades</td>
            <td>$<%=f.number_field :sp_q2, autofocus: true%></td>
          </tr>
          <tr>
            <td>Compras mayores a <%=f.number_field :sq3, autofocus: true%> unidades</td>
            <td>$<%=f.number_field :sp_q3, autofocus: true%></td>
          </tr>
          <tr>
            <td>Compras mayores a <%=f.number_field :sq4, autofocus: true%> unidades</td>
            <td>$<%=f.number_field :sp_q4, autofocus: true%></td>
          </tr>
        </tbody>
      </table>
    </div>

  <h3>Descuentos mayoristas</h3>

  <div class="field">
    <%= check_box_tag 'promotion_range', 'yes'%> Utilizar descuentos por rango</br></br>
  </div>

  <div class="field">
    Organizar descuentos por: <%= check_box_tag 'promotion_range', 'yes'%> Precio     <%= check_box_tag 'promotion_range', 'yes'%> Cantidad</br></br>
  </div>
  <div class="field">
    <h5>Rango de envios por precio</h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Rango</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Compras mayores a $<%=f.number_field :p1, autofocus: true%></td>
          <td><%=f.number_field :p_p1, autofocus: true%>%</td>
        </tr>
        <tr>
          <td>Compras mayores a $<%=f.number_field :p2, autofocus: true%></td>
          <td><%=f.number_field :p_p2, autofocus: true%>%</td>
        </tr>
        <tr>
          <td>Compras mayores a $<%=f.number_field :p3, autofocus: true%></td>
          <td><%=f.number_field :p_p3, autofocus: true%>%</td>
        </tr>
        <tr>
          <td>Compras mayores a $<%=f.number_field :p4, autofocus: true%></td>
          <td><%=f.number_field :p_p4, autofocus: true%>%</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="field">
    <h5>Rango de envios por cantidad</h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Rango</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Compras mayores a <%=f.number_field :q1, autofocus: true%> unidades</td>
          <td><%=f.number_field :p_q1, autofocus: true%>%</td>
        </tr>
        <tr>
          <td>Compras mayores a <%=f.number_field :q2, autofocus: true%> unidades</td>
          <td><%=f.number_field :p_q2, autofocus: true%>%</td>
        </tr>
        <tr>
          <td>Compras mayores a <%=f.number_field :q3, autofocus: true%> unidades</td>
          <td><%=f.number_field :p_q3, autofocus: true%>%</td>
        </tr>
        <tr>
          <td>Compras mayores a <%=f.number_field :q4, autofocus: true%> unidades</td>
          <td><%=f.number_field :p_q4, autofocus: true%>%</td>
        </tr>
      </tbody>
    </table>
  </div>

  <%end%>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <h3>Cambiar contraseña</h3>
  <div class="field">
    <%= f.label "Nueva contraseña" %> <i>(Deja el espacio en blanco si no quieres cambiarla)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em>Mínimo <%= @minimum_password_length %> caracteres</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label "Confirmación de la nueva contraseña" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <h3>Guardar cambios</h3>
  <div class="field">
    <%= f.label "Contraseña actual" %> <i>(Necesitamos tu contraseña actual para guardar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Editar" %>
  </div>
<% end %>

<h3>Cancelar mi subscripción</h3>

<%= button_to "Cancelar mi subscripción", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>

<%= link_to "Atrás", :back %>

<script>
  new DeleteActiveClass();
  new DeleteActiveLinkClass();
  new AddEditUserActiveClass();
  new AddEditSupplierActiveClass();
</script>
