<% if resource_name.to_s == "supplier"%>
  <%name = "Proveedor"%>
<%end%>
<% if resource_name.to_s == "user"%>
  <%name = "Usuario"%>
<%end%>


<div class="devise-form">

  <h5>Registrarme como <%=name%></h5>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <% if resource_name.to_s == "supplier"%>
      <h5>Add hidden inputs</h5>
      <%= f.hidden_field :p_ure, :value => 0 %>
      <%= f.hidden_field :p_dia, :value => 0 %>
      <%= f.hidden_field :p_cmin, :value => 0 %>
      <%= f.hidden_field :p_cmay, :value => 0 %>
      <%= f.hidden_field :cant_may, :value => 0 %>
    <%end%>

    <div class="field">
      <%= f.label "Nombre completo"  %><br />
      <%= f.text_field :full_name, autofocus: true %>
    </div>



    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Registrarme" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
