<h1>Detalles del proveedor</h1>

<h4>Nombre:</h4>
<%=@user.full_name%>
<h4>Email:</h4>
<%=@user.email%>
<h4>Celular:</h4>
<%=@user.cel%>
<h4>Dirección:</h4>
<%=@user.dir%>
<h4>Pais:</h4>
<%=@user.country%>
<h4>Ciudad:</h4>
<%=@user.city%>
<h4>Número de productos comprados:</h4>
<%=@user.purchases%>
