<h1>Perfil del usuario:</h1>
<div class="user-info">
  <div class="user-image">
    <img src="https://d1p028xxwfk58l.cloudfront.net/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png">
  </div>
  <div class="supplier-details">
    <%= link_to "Editar mi pefil", edit_user_registration_path %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre:</th>
        <td><%=@user.full_name%></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="col">Email:</th>
        <td><%=@user.email%></td>
      </tr>
      <tr>
        <th scope="col">Celular:</th>
        <td><%=@user.cel%></td>
      </tr>
      <tr>
        <th scope="col">Dirección:</th>
        <td><%=@user.dir%></td>
      </tr>
      <tr>
        <th scope="col">Pais:</th>
        <td><%=@user.country%></td>
      </tr>
      <tr>
        <th scope="col">Ciudad:</th>
        <td><%=@user.city%></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>


<div class="favourite-suppliers">
  <h5>Proveedores favoritos</h5>
  <%@user.suppliers.each do |supplier|%>
  <div class="favourite-supplier">
    <%=link_to supplier_path(supplier) do%>
      <img src="<%=supplier.profile_img%>">
      <span><%=supplier.full_name%></span>
    <%end%>
  </div>
  <%end%>
  <%=link_to "Ver más proveedores", suppliers_path%>
</div>

<div class="favourite-products">
  <h5>Productos favoritos</h5>
  <%@user.products.each do |product|%>
  <div class="favourite-product">
    <%=link_to [product.sub_category.category, product.sub_category, product] do%>
      <img src="<%=product.img_url%>">
      <span><%=product.title%></span>
    <%end%>
  </div>
  <%end%>
</div>

<script>
new DeleteActiveClass();
new DeleteActiveLinkClass();
new AddUprofileActiveClass();
</script>
