<h1>Opciones de administrador</h1>

<%= link_to "Editar pefil usuario", edit_user_registration_path %>

<%= link_to "Editar pefil proveedor", edit_supplier_registration_path %>

<%= link_to user_list_path, class: "admin-link" do%>
  <button type="button" name="button">Ver usuarios registrados</button>
<%end%>

<%= link_to suppli_list_path, class: "admin-link" do%>
  <button type="button" name="button">Ver proveedores registrados</button>
<%end%>

<%= link_to produ_list_path, class: "admin-link" do%>
  <button type="button" name="button">Mostrar productos</button>
<%end%>

<%= link_to cate_list_path, class: "admin-link" do%>
  <button type="button" name="button">Mostrar categorías</button>
<%end%>
