<h1>Acá se motrarán las opciones de administrador</h1>

<%= link_to new_category_path, class: "admin-link" do%>
  <button type="button" name="button">Crear categoría</button>
<%end%>

<%= link_to new_category_path, class: "admin-link" do%>
  <button type="button" name="button">Editar categoría</button>
<%end%>

<%= link_to new_category_path, class: "admin-link" do%>
  <button type="button" name="button">Eliminar categoría</button>
<%end%>

<%= link_to new_category_path, class: "admin-link" do%>
  <button type="button" name="button">Crear producto</button>
<%end%>

<%= link_to new_category_path, class: "admin-link" do%>
  <button type="button" name="button">Editar producto</button>
<%end%>

<%= link_to new_category_path, class: "admin-link" do%>
  <button type="button" name="button">Eliminar producto</button>
<%end%>

<%= link_to new_category_path, class: "admin-link" do%>
  <button type="button" name="button">Ver usuarios registrados</button>
<%end%>

<%= link_to new_category_path, class: "admin-link" do%>
  <button type="button" name="button">Ver productos existentes</button>
<%end%>

<%= link_to new_category_path, class: "admin-link" do%>
  <button type="button" name="button">Editar promoción</button>
<%end%>
