<h1>Productos</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Imagen</th>
      <th scope="col">Categoría</th>
      <th scope="col">Nombre</th>
      <th scope="col">xs</th>
      <th scope="col">s</th>
      <th scope="col">m</th>
      <th scope="col">l</th>
      <th scope="col">xl</th>
      <th scope="col">xxl</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product|%>
      <tr>
        <th>
          <%=link_to [product.category, product] do%>
            <img src="<%=product.img_url%>" class="mini-img">
          <%end%>

        </th>
        <td><%=product.category.title%></td>
        <td><%=product.title%></td>
        <td><%=product.sizes.first.xs%></td>
        <td><%=product.sizes.first.s%></td>
        <td><%=product.sizes.first.m%></td>
        <td><%=product.sizes.first.l%></td>
        <td><%=product.sizes.first.xl%></td>
        <td><%=product.sizes.first.xxl%></td>
        <td>
          <%=link_to edit_category_product_path(product.category, product) do%>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          <%end%>
        </td>
        <td>
          <%=link_to [product.category, product], method: :delete, data:{ confirm: "¿Está seguro de eliminar este producto?"} do%>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          <%end%>

        </td>
      </tr>
    <%end%>
  </tbody>
</table>
