<% if !@order_item.nil? && @order_item.errors.any? %>
	<ul>
		<% @order_item.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<% if @order_items.size>0 %>
	<% @order_items.each do |item| %>
		<div class="well">
			<div class="row">
				<div class="col-sm-8">
					<h3><%= item.product.title %></h3>
					<img src="<%= item.product.img_url %>", class= "shopping-img">
				</div>
				<div class="col-sm-4">
					<div class="pull-right">
					<%= form_for(item) do |f| %>
						<%= f.hidden_field :product_id, value: item.product.id %>
						<h5><%= item.product.price %></h5>
						<div class="form-group">
							<%= f.text_field :quantity, value: item.quantity.to_i, min: 1, class: 'form-control' %>
						</div>
						<div class="btn-group">
							<%= f.submit "Editar cantidad", class: 'btn btn-primary' %>
							<%= link_to "Eliminar", item, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
						</div> <br>
						<span>Total Price: <%= item.total_price %></span>
					<% end %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
	<h2>Valor total de la compra: <%=current_order.subtotal%></h2>
	<button class="show-btn">Comprar</button>

	<script>
	  new ProductsView();
	</script>
<% else %>
	<h1>No products in cart</h1>
<% end %>
