

<% if @list_groups.size>0 %>
	<%title=""%>
	<% @list_groups.each do |list_group| %>
	<h1><%=if not (title == list_group.list.supplier.full_name) then list_group.list.supplier.full_name end%></h1>
	<%title = list_group.list.supplier.full_name%>
	<h4><%=list_group.list.title%></h4>


		<% list_group.order_items.each do |item| %>

		<div class="well">
			<div class="row">
				<div class="col-sm-8">
					<h3><%= item.product.title %> talla <%= item.size.split('|')[1] %> <%= item.size.split('|')[0] %></h3>
					<img src="<%= item.product.img_url %>", class= "shopping-img">
				</div>
				<div class="col-sm-4">
					<div class="pull-right">
						<%= form_for(item, remote: true) do |f| %>
						<%= f.hidden_field :product_id, value: item.product.id %>
						<h5>Precio unitario: $<%= item.product.price %></h5>
						<div class="form-group">
							<%= f.number_field :quantity, value: item.quantity.to_i, min: 1,max: item.size.split('|')[0].to_i, class: 'form-control', autocomplete: "off" %>
						</div>
						<div class="btn-group">
							<%= f.submit "Editar cantidad", class: 'btn btn-primary' %>
							<%= link_to "Eliminar", item, method: :delete, remote: true, data: { confirm: '¿Estás seguro de eliminar este producto?' }, class: 'btn btn-danger' %>
						</div> <br>
						<h5>Precio total por producto: <%= item.total_price %></h5>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<% end %>
	<%end%>

	<h2>Valor total de la compra: <%=current_order.subtotal%></h2>
	<button class="show-btn">Comprar</button>

	<script>
	  new ProductsView();
	</script>
<% else %>
	<h1>No products in cart</h1>
<% end %>
