<% if resource_name.to_s == "supplier"%>
  <%name = "Proveedor"%>
<%end%>
<% if resource_name.to_s == "user"%>
  <%name = "Cliente"%>
<%end%>


<div class="devise-form">

  <%if name == "Cliente"%>
    <img src="https://drive.google.com/uc?export=view&id=1DmdzQvs2QUocl5gZSn0vLs9PYmrJhBX3">
  <%else%>
    <img src="https://drive.google.com/uc?export=view&id=1rhB0dHNAV7u1GpeJTAo1evEXBNR3s8Jv">
  <%end%>
  <h6>Ingresar como <%=name%></h6>


  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %> <br>
      <%= f.email_field :email, autofocus: true %>
    </div>
    <br>
    <div class="field">
      <%= f.label :Contraseña %> <br>
      <%= f.password_field :password, autocomplete: "off" %> <br>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me, id:"remember_me" %>
        <%= f.label :Recordarme %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Ingresar", id:"log-in-button" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

<% if resource_name.to_s == "supplier"%>
  <script>
    new DeleteActiveClass();
    new DeleteActiveLinkClass();
    new AddSupplierActiveLinkClass();
  </script>
<%end%>
<% if resource_name.to_s == "user"%>
  <script>
    new DeleteActiveClass();
    new DeleteActiveLinkClass();
    new AddUserActiveLinkClass();
  </script>
<%end%>
