<h1>Crear categoría</h1>

<% if @category.errors.any? %>
  <% @category.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>

<%= form_for @category, class: "category_form" do |f| %>
  <%= f.text_field :title%> <br> <br>
  <%= f.text_field :img_url %> <br> <br>
  <%= f.submit "Editar categoría" %>
<% end %>
