<div class="category-page">
  <h1>¡Bienvenido!</h1>
  <h2>Escoge una categoría</h2>

  <%category = 1%>
  <div class="categories">
    <div class="category-container">
      <%=link_to category_products_path(category) do%>
        <img src="https://drive.google.com/uc?export=view&id=1-_cH8noaVPRyvbGRhsTSVWxomHShmC7H">
        <h5 class= "category-title">Camisas manga corta</h5>
      <%end%>
    </div>

    <div class="category-container">
      <%=link_to category_products_path(category) do%>
        <img src="https://drive.google.com/uc?export=view&id=1eL8-ynqPq2a-25k9J6woyw9L_E3hxzEJ">
        <h5 class= "category-title">Camisas manga larga</h5>
      <%end%>
    </div>

    <div class="category-container">
      <%=link_to category_products_path(category) do%>
        <img src="https://drive.google.com/uc?export=view&id=18ce13maYh2ZLohwT29dlJXQgpYTL8z4h">
        <h5 class= "category-title">Camisetas polo</h5>
      <%end%>
    </div>

    <div class="category-container">
      <%=link_to category_products_path(category) do%>
        <img src="https://drive.google.com/uc?export=view&id=1l7hbbzwG5iJIEkoWhDR5PhsFdoeT-Fpa">
        <h5 class= "category-title">Jeans</h5>
      <%end%>
    </div>

    <div class="category-container">
      <%=link_to category_products_path(category) do%>
        <img src="https://drive.google.com/uc?export=view&id=16Jp56DeQclRtS9enMCrZpovbMMrYD-CR">
        <h5 class= "category-title">Saco</h5>
      <%end%>
    </div>

  </div>
</div>
