<div class="category-page">
  <h1>¡Bienvenido!</h1>
  <h2>Escoge una categoría</h2>

  <%category = 1%>
  <div class="categories">
    <div class="category-container">
      <%=link_to category_products_path(category) do%>
        <img src="https://image.ibb.co/cAFB4m/camisa_manga_corta.jpg">
        <h5 class= "category-title">Camisas manga corta</h5>
      <%end%>
    </div>

    <div class="category-container">
      <%=link_to category_products_path(category) do%>
        <img src="https://image.ibb.co/dBOnc6/camisa_manga_larga.jpg">
        <h5 class= "category-title">Camisas manga larga</h5>
      <%end%>
    </div>

    <div class="category-container">
      <%=link_to category_products_path(category) do%>
        <img src="https://preview.ibb.co/iMoaVR/camisas_polo.jpg">
        <h5 class= "category-title">Camisetas polo</h5>
      <%end%>
    </div>

    <div class="category-container">
      <%=link_to category_products_path(category) do%>
        <img src="https://image.ibb.co/dqmUqR/jean.jpg">
        <h5 class= "category-title">Jeans</h5>
      <%end%>
    </div>

    <div class="category-container">
      <%=link_to category_products_path(category) do%>
        <img src="https://preview.ibb.co/fYMJjm/saco.jpg">
        <h5 class= "category-title">Saco</h5>
      <%end%>
    </div>

  </div>
</div>
