<div class="category-page">
  <h1>¡Bienvenido!</h1>
  <h2>Escoge una categoría</h2>

  <%= form_tag(categories_path, method: :get, class:"cate-search" ) do %>
    <div class="form-group">
      <%= text_field_tag :concept, params[:concept], class: "form-control", placeholder: "Buscar categoría" %>
    </div>

  <% end %>

  <div class="categories">
    <% @categories.each do |category| %>
      <div class="category-container">
        <%=link_to category_products_path(category) do%>
          <img src= "<%= category.img_url %>">
          <h5 class= "category-title"><%= category.title %></h5>
        <%end%>
      </div>
    <%end%>
  </div>

  </div>
</div>
