<h1>Editar producto</h1>

<% if @product.errors.any? %>
  <% @product.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>

<% categories = @category.sub_categories.all %>
<% sub_categories_list = [] %>
<% categories.each do |subcategory| %>
  <% selector = [subcategory.title, subcategory.id]%>
  <% sub_categories_list.push(selector) %>
<%end%>

<% lists = current_supplier.lists %>
<% lists_list = [] %>
<% lists.each do |list| %>
  <% selector = [list.title, list.id]%>
  <% lists_list.push(selector) %>
<%end%>

<%= form_for @product, url: category_sub_category_product_path do |f| %>
  <%= f.label "Título:"%> <br>
  <%= f.text_field :title%> <br> <br>
  <%= f.label "Categoría:"%> <br>
  <%= f.select(:sub_category_id, options_for_select(sub_categories_list, [@product.sub_category.title, @product.sub_category.id]), {}, class: 'category-selector') %> <br> <br>
  <%= f.label "Lista:"%> <br>
  <%= f.select(:list_id, options_for_select(lists_list), {}, class: 'category-selector') %> <br> <br>
  <%= f.label "Descripción:"%> <br>
  <%= f.text_area :description%> <br> <br>
  <%= f.label "Link de la imagen:"%> <br>
  <%= f.text_field :img_url%> <br> <br>
  <%= f.label "Precio:"%> <br>
  <%= f.number_field :price, min: 0%> <br> <br>
  <%= f.label "Descuento del día:"%> <br>
  <%= f.number_field :p_day, min: 0%>% <br> <br>
  <%= f.label "Definir tallas y cantidades:"%> <br> <br>

  <%= f.radio_button :check_unique, false%>
  <%= f.label :check_unique, "Cantidades por tallas", :value => "false" %>
  <%= f.radio_button :check_unique, true %>
  <%= f.label :check_unique, "Tamaño único" %> <br><br>

  <%= f.label "Cantidad talla única"%>
  <%= f.number_field :unique, min: 0%> <br> <br>

  <%= f.text_field :s1, autocomplete: "off", placeholder: "Talla s/Talla 35/Talla 29-D"%>
    <%= f.number_field :q1, min: 0%> <br> <br>

  <%= f.text_field :s2, autocomplete: "off", placeholder: "Talla s/Talla 35/Talla 29-D"%>
    <%= f.number_field :q2, min: 0%> <br> <br>

  <%= f.text_field :s3, autocomplete: "off", placeholder: "Talla s/Talla 35/Talla 29-D"%>
    <%= f.number_field :q3, min: 0%> <br> <br>

  <%= f.text_field :s4, autocomplete: "off", placeholder: "Talla s/Talla 35/Talla 29-D"%>
    <%= f.number_field :q4, min: 0%> <br> <br>

  <%= f.text_field :s5, autocomplete: "off", placeholder: "Talla s/Talla 35/Talla 29-D"%>
    <%= f.number_field :q5, min: 0%> <br> <br>

  <%= f.text_field :s6, autocomplete: "off", placeholder: "Talla s/Talla 35/Talla 29-D"%>
    <%= f.number_field :q6, min: 0%> <br> <br>

  <%= f.text_field :s7, autocomplete: "off", placeholder: "Talla s/Talla 35/Talla 29-D"%>
    <%= f.number_field :q7, min: 0%> <br> <br>

  <%= f.text_field :s8, autocomplete: "off", placeholder: "Talla s/Talla 35/Talla 29-D"%>
    <%= f.number_field :q8, min: 0%> <br> <br>

  <%= f.text_field :s9, autocomplete: "off", placeholder: "Talla s/Talla 35/Talla 29-D"%>
    <%= f.number_field :q9, min: 0%> <br> <br>

  <%= f.text_field :s10, autocomplete: "off", placeholder: "Talla s/Talla 35/Talla 29-D"%>
  <%= f.number_field :q10, value: 0, min: 0%> <br> <br>
  <%= f.submit "Editar producto" %>
<%end%>
