<h1>Editar producto</h1>

<% if @product.errors.any? %>
  <% @product.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>

<% categories = Category.all %>
<% categories_list = [] %>
<% categories.each do |category| %>
  <% selector = [category.title, category.id]%>
  <% categories_list.push(selector) %>
<%end%>

<%= form_for @product, url: category_product_path do |f| %>
  <%= f.label "Título:"%> <br>
  <%= f.text_field :title%> <br> <br>
  <%= f.label "Descripción:"%> <br>
  <%= f.text_area :description%> <br> <br>
  <%= f.label "Link de la imagen:"%> <br>
  <%= f.text_field :img_url%> <br> <br>
  <%= f.label "Precio:"%> <br>
  <%= f.number_field :price, min: 0%> <br> <br>
  <%= f.label "Categoría:"%> <br>
  <%= f.select(:category_id, options_for_select(categories_list, [@product.category.title, @product.category.id]), {}, class: 'category-selector') %> <br> <br>
  <%= f.label "Tallas:"%> <br> <br>
  <%= f.label "xs:"%> <br>
  <%= f.number_field :xs, min: 0%> <br> <br>
  <%= f.label "s:"%> <br>
  <%= f.number_field :s, min: 0%> <br> <br>
  <%= f.label "m:"%> <br>
  <%= f.number_field :m, min: 0%> <br> <br>
  <%= f.label "l:"%> <br>
  <%= f.number_field :l, min: 0%> <br> <br>
  <%= f.label "xl:"%> <br>
  <%= f.number_field :xl, min: 0%> <br> <br>
  <%= f.label "xxl:"%> <br>
  <%= f.number_field :xxl, min: 0%> <br> <br>
  <%= f.submit "Editar producto" %>
<%end%>
