<h1>Crear nuevo producto</h1>

<% if @product.errors.any? %>
  <% @product.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>

<% categories = @category.sub_categories.all %>
<% sub_categories_list = [] %>
<% categories.each do |subcategory| %>
  <% selector = [subcategory.title, subcategory.id]%>
  <% sub_categories_list.push(selector) %>
<%end%>

<% lists = current_supplier.lists %>
<% lists_list = [] %>
<% lists.each do |list| %>
  <% selector = [list.title, list.id]%>
  <% lists_list.push(selector) %>
<%end%>

<%= form_for @product, url: category_sub_category_products_path do |f| %>
  <%= f.hidden_field :supplier_id, :value => current_supplier.id %>
  <%= f.label "Categoría:"%> <br>
  <%= f.select(:sub_category_id, options_for_select(sub_categories_list, [@product.sub_category.title, @product.sub_category.id]), {}, class: 'category-selector') %> <br> <br>
  <%= f.label "Lista:"%> <br>
  <%= f.select(:list_id, options_for_select(lists_list), {}, class: 'category-selector') %> <br> <br>
  <%= f.label "Título:"%> <br>
  <%= f.text_field :title, autocomplete: "off"%> <br> <br>
  <%= f.label "Descripción:"%> <br>
  <%= f.text_area :description, autocomplete: "off"%> <br> <br>
  <%= f.label "Link de la imagen:"%> <br>
  <%= f.text_field :img_url,value: "https://drive.google.com/uc?export=view&id=", autocomplete: "off"%> <br> <br>
  <div class="form-group">
    <%= f.file_field :image %> <br> <br>
  </div>
  <%= f.label "Precio:"%> <br>
  <%= f.number_field :price, autocomplete: "off"%> <br> <br>
  <%= f.label "Descuento del día:"%> <br>
  <%= f.number_field :p_day,value: 0, min: 0%>% <br> <br>

  <%= f.label "Definir tallas y cantidades:"%> <br> <br>

  <%= f.radio_button :check_unique, false, :checked => true %>
  <%= f.label :check_unique, "Cantidades por tallas", :value => "false" %>
  <%= f.radio_button :check_unique, true %>
  <%= f.label :check_unique, "Tamaño único" %> <br><br>

  <%= f.label "Cantidad talla única"%>
  <%= f.number_field :unique, value: 0, min: 0%> <br> <br>

  <%= f.text_field :s1, autocomplete: "off", placeholder: "Talla s/Talla 35/Talla 29-D"%>
    <%= f.number_field :q1, value: 0, min: 0%> <br> <br>

  <%= f.text_field :s2, autocomplete: "off", placeholder: "Talla s/Talla 35/Talla 29-D"%>
    <%= f.number_field :q2, value: 0, min: 0%> <br> <br>

  <%= f.text_field :s3, autocomplete: "off", placeholder: "Talla s/Talla 35/Talla 29-D"%>
    <%= f.number_field :q3, value: 0, min: 0%> <br> <br>

  <%= f.text_field :s4, autocomplete: "off", placeholder: "Talla s/Talla 35/Talla 29-D"%>
    <%= f.number_field :q4, value: 0, min: 0%> <br> <br>

  <%= f.text_field :s5, autocomplete: "off", placeholder: "Talla s/Talla 35/Talla 29-D"%>
    <%= f.number_field :q5, value: 0, min: 0%> <br> <br>

  <%= f.text_field :s6, autocomplete: "off", placeholder: "Talla s/Talla 35/Talla 29-D"%>
    <%= f.number_field :q6, value: 0, min: 0%> <br> <br>

  <%= f.text_field :s7, autocomplete: "off", placeholder: "Talla s/Talla 35/Talla 29-D"%>
    <%= f.number_field :q7, value: 0, min: 0%> <br> <br>

  <%= f.text_field :s8, autocomplete: "off", placeholder: "Talla s/Talla 35/Talla 29-D"%>
    <%= f.number_field :q8, value: 0, min: 0%> <br> <br>

  <%= f.text_field :s9, autocomplete: "off", placeholder: "Talla s/Talla 35/Talla 29-D"%>
    <%= f.number_field :q9, value: 0, min: 0%> <br> <br>

  <%= f.text_field :s10, autocomplete: "off", placeholder: "Talla s/Talla 35/Talla 29-D"%>
  <%= f.number_field :q10, value: 0, min: 0%> <br> <br>
  <%= f.submit "Crear producto" %>

<%end%>
