<h1>Crear nuevo producto</h1>

<% if @product.errors.any? %>
  <% @product.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>

<% categories = @category.sub_categories.all %>
<% sub_categories_list = [] %>
<% categories.each do |subcategory| %>
  <% selector = [subcategory.title, subcategory.id]%>
  <% sub_categories_list.push(selector) %>
<%end%>

<%= form_for @product, url: category_sub_category_products_path do |f| %>
  <%= f.hidden_field :supplier_id, :value => current_supplier.id %>
  <%= f.label "Categoría:"%> <br>
  <%= f.select(:sub_category_id, options_for_select(sub_categories_list, [@product.sub_category.title, @product.sub_category.id]), {}, class: 'category-selector') %> <br> <br>
  <%= f.label "Título:"%> <br>
  <%= f.text_field :title, autocomplete: "off"%> <br> <br>
  <%= f.label "Descripción:"%> <br>
  <%= f.text_area :description, autocomplete: "off"%> <br> <br>
  <%= f.label "Link de la imagen:"%> <br>
  <%= f.text_field :img_url,value: "https://drive.google.com/uc?export=view&id=", autocomplete: "off"%> <br> <br>
  <div class="form-group">
    <%= f.file_field :image %> <br> <br>
  </div>
  <%= f.label "Precio:"%> <br>
  <%= f.number_field :price, autocomplete: "off"%> <br> <br>
  <%= f.label "Tallas:"%> <br> <br>
  <%= f.label "Talla xs:"%> <br>
  <%= f.number_field :xs, value: 0, min: 0%> <br> <br>
  <%= f.label "Talla s:"%> <br>
  <%= f.number_field :s, value: 0, min: 0%> <br> <br>
  <%= f.label "Talla m:"%> <br>
  <%= f.number_field :m, value: 0, min: 0%> <br> <br>
  <%= f.label "Talla l:"%> <br>
  <%= f.number_field :l, value: 0, min: 0%> <br> <br>
  <%= f.label "Talla xl:"%> <br>
  <%= f.number_field :xl, value: 0, min: 0%> <br> <br>
  <%= f.label "Talla xxl:"%> <br>
  <%= f.number_field :xxl, value: 0, min: 0%> <br> <br>
  <%= f.submit "Crear producto" %>
<%end%>
