<img src="<%= @product.img_url %>", class="p-show-img" >

<div class="p-show-specifi">
	<h3><%= @product.title %></h3> <br> <br>

  <h5>Precio: $<%= @product.price %></h5> <br>
  <%if @product.xs + @product.s + @product.m + @product.l + @product.xl + @product.xxl > 0 %>

    <% sizes_list = [] %>
    <% selector = [] %>
    <%if @product.xs > 0 %>
      <%selector = ["Talla XS",@product.xs.to_s+"|xs"]%>
      <% sizes_list.push(selector) %>
    <%end%>
    <%if @product.s > 0 %>
      <%selector = ["Talla S",@product.s.to_s+"|s" ]%>
      <% sizes_list.push(selector) %>
    <%end%>
    <%if @product.m > 0 %>
      <%selector = ["Talla M",@product.m.to_s+"|m"]%>
      <% sizes_list.push(selector) %>
    <%end%>
    <%if @product.l > 0 %>
      <%selector = ["Talla L",@product.l.to_s+"|l"]%>
      <% sizes_list.push(selector) %>
    <%end%>
    <%if @product.xl > 0 %>
      <%selector = ["Talla XL",@product.xl.to_s+"|xl"]%>
      <% sizes_list.push(selector) %>
    <%end%>
    <%if @product.xxl > 0 %>
      <%selector = ["Talla XXL",@product.xxl.to_s+"|xxl"]%>
      <% sizes_list.push(selector) %>
    <%end%>

  <%= form_for(@order_item, remote: true) do |f| %>
  	<%= f.hidden_field :product_id, value: @product.id %>
    <div class="form-group">
  		<h5>Tallas disponibles: <%= f.select(:size, options_for_select(sizes_list), {}, class: 'size-selector') %> <br> <br>
    </div>
  	<div class="form-group">
  		<h5>Cantidad: <%= f.number_field :quantity, value: 1, min: 1, class: 'amount', autocomplete: "off" %></h5>
  	</div>
  	<%= f.submit "Agregar al carrito", class: 'btn btn-primary btn-sm' %>
  <% end %>
<% else %>
  <h1>Producto agotado</h1>
<% end %>
</div>
<div class="recomended-products">
	<%all_products = [] %>
	<h4>Otros productos de este proveedor</h4>
	<% @product.category.supplier.categories.all.each do |category| %>
		<%category.products.all.each do |product|%>
			<%all_products.push(product)%>
		<%end%>
	<%end%>
	<%if all_products.length > 5%>
		<%random_n = (0..all_products.length-1).to_a.shuffle%>
		<%4.times do |i|%>
			<div class="recomended-product">
				<%=all_products[random_n[i]].title%>
				<img src="<%=all_products[random_n[i]].img_url%>">
			</div>
		<%end%>
	<%end%>
</div>
