<img src="<%= @product.img_url %>", class="p-show-img" >

<div class="p-show-specifi">
	<h3><%= @product.title %></h3> <br> <br>
  <h5>Tallas disponibles:
  <select name="sizes">
    <%if @product.xs > 0 %>
      <option value="<%=@product.xs%>">Talla XS </option>
    <%end%>
    <%if @product.s > 0 %>
      <option value="<%=@product.s%>">Talla S</option>
    <%end%>
    <%if @product.m > 0 %>
      <option value="<%=@product.m%>">Talla M</option>
    <%end%>
    <%if @product.l > 0 %>
      <option value="<%=@product.l%>">Talla L</option>
    <%end%>
    <%if @product.xl > 0 %>
      <option value="<%=@product.l%>">Talla XL </option>
    <%end%>
    <%if @product.xxl > 0 %>
      <option value="<%=@product.l%>">Talla XXL </option>
    <%end%>
  </select></h5> <br>

  <% sizes_list = [] %>
  <% selector = [] %>
  <%if @product.xs > 0 %>
    <%selector = ["Talla Xs",@product.xs.to_s]%>
    <% sizes_list.push(selector) %>
  <%end%>
  <%if @product.s > 0 %>
    <%selector = ["Talla S",@product.s.to_s ]%>
    <% sizes_list.push(selector) %>
  <%end%>
  <%if @product.m > 0 %>
    <%selector = ["Talla M",@product.m.to_s]%>
    <% sizes_list.push(selector) %>
  <%end%>
  <%if @product.l > 0 %>
    <%selector = ["Talla L",@product.l.to_s]%>
    <% sizes_list.push(selector) %>
  <%end%>
  <%if @product.xl > 0 %>
    <%selector = ["Talla XL",@product.xl.to_s]%>
    <% sizes_list.push(selector) %>
  <%end%>
  <%if @product.xxl > 0 %>
    <%selector = ["Talla XXL",@product.xxl.to_s]%>
    <% sizes_list.push(selector) %>
  <%end%>

<%= sizes_list%>


	<%= form_for(@order_item, remote: true) do |f| %>
		<%= f.hidden_field :product_id, value: @product.id %>
		<h5>Precio: $<%= @product.price %></h5> <br>
    <div class="form-group">
			<h5>Tallas form for: <%= f.select(:size, options_for_select(sizes_list), {}, class: 'category-selector') %> <br> <br>
    </div>
		<div class="form-group">
			<h5>Cantidad: <%= f.number_field :quantity, value: 1, min: 1, class: ' amount' %></h5>
		</div>
		<%= f.submit "Agregar al carrito", class: 'btn btn-primary btn-sm' %>
	<% end %>

</div>
