<h1>Detalles del producto</h1>

<h4><%= @product.title %></h4>
<p><%= @product.description %></p>
<h5>$<%= number_with_delimiter(@product.price, :delimiter => '.') %></h5>

<form action="/action_page.php">
  
  <input type="text" placeholder="Cantidad" class="amount">

  <select name="sizes">
    <% @product.sizes.each do |size|%>
      <%if size.xs > 0 %>
        <option value="<%=size.xs%>">Talla XS </option>
      <%end%>
      <%if size.s > 0 %>
        <option value="<%=size.s%>">Talla S</option>
      <%end%>
      <%if size.m > 0 %>
        <option value="<%=size.m%>">Talla M</option>
      <%end%>
      <%if size.l > 0 %>
        <option value="<%=size.l%>">Talla L</option>
      <%end%>
      <%if size.xl > 0 %>
        <option value="<%=size.l%>">Talla XL </option>
      <%end%>
      <%if size.xxl > 0 %>
        <option value="<%=size.l%>">Talla XXL </option>
      <%end%>
    <%end%>
  </select>
  <br><br>
  <button type="submit">Enviar a carrito</button>
</form>


<img src="<%= @product.img_url %>" >
