<div class="cover-image">
  <img src="<%=@supplier.cover_img%> " class="supplier-cover">
  <div class="franja"></div>
  <div class="supplier-description">
    <h4>Descripción</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="profile-image">
    <img src="<%=@supplier.profile_img%>">
  </div>


</div>

<h1>Detalles del proveedor</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nombre:</th>
      <th><%=@supplier.full_name%></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="col">Email:</th>
      <th><%=@supplier.email%></th>
    </tr>
    <tr>
      <th scope="col">Celular:</th>
      <th><%=@supplier.cel%></th>
    </tr>
    <tr>
      <th scope="col">Dirección:</th>
      <th><%=@supplier.dir%></th>
    </tr>
    <tr>
      <th scope="col">Pais:</th>
      <th><%=@supplier.country%></th>
    </tr>
    <tr>
      <th scope="col">Ciudad:</th>
      <th><%=@supplier.city%></th>
    </tr>
    <tr>
      <th scope="col">Número de productos:</th>
      <th>
        <%=@supplier.products.length%>
      </th>
    </tr>
    <tr>
      <th scope="col">Descuento por usuario registrado:</th>
      <th><%=@supplier.p_ure%>%</th>
    </tr>
    <tr>
      <th scope="col">Descuento especial del día:</th>
      <th><%=@supplier.p_dia%>%</th>
    </tr>
    <tr>
      <th scope="col">Descuento por usuario frecuente:</th>
      <th><%=@supplier.p_cmin%>%</th>
    </tr>
    <tr>
      <th scope="col">Descuento por usuario mayorista:</th>
      <th><%=@supplier.p_cmay%>%</th>
    </tr>
    <tr>
      <th scope="col">Número de productos comprados para ser usuario mayorista:</th>
      <th><%=@supplier.cant_may%> productos</th>
    </tr>

  </tbody>
</table>
<div class="product_comments">
	<h3>Comentarios: </h3>
	<% @supplier.supplier_comments.each do |comment| %>
	  <div class="panel panel-default">
			<header class="panel-heading"> <b><%= comment.user.full_name %> dice:</b></header>
	    <div class="panel-body"><%= comment.body %></div>
	  </div>
	<% end %>
	<% if signed_in? %>
  <%= form_for [@supplier, @supplier.supplier_comments.build], remote: true do |f| %>
    <div >
      <%= f.text_area :body, placeholder: "Agregar comentario" %>
    </div>

    <div class="actions text-left">
      <%= f.submit "Comentar", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
</div>
<% if supplier_signed_in? && current_supplier.id == @supplier.id%>
  <h1>Opciones del proveedor</h1>

  <%= link_to cate_list_path, class: "admin-link" do%>
    <button type="button" name="button">Mostrar categorías</button>
  <%end%>

  <%= link_to produ_list_path, class: "admin-link" do%>
    <button type="button" name="button">Mostrar productos</button>
  <%end%>

  <%= link_to edit_supplier_registration_path, class: "admin-link" do%>
    <button type="button" name="button">Editar pefil proveedor</button>
  <%end%>
<%end%>

<script>
  new ResizeSupplierCover();
  new DeleteActiveClass();
  new DeleteActiveLinkClass();
  new AddEditSupplierActiveClass();
</script>
