<h1>Detalles del proveedor</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nombre:</th>
      <th><%=@supplier.full_name%></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="col">Email:</th>
      <th><%=@supplier.email%></th>
    </tr>
    <tr>
      <th scope="col">Celular:</th>
      <th><%=@supplier.cel%></th>
    </tr>
    <tr>
      <th scope="col">Dirección:</th>
      <th><%=@supplier.dir%></th>
    </tr>
    <tr>
      <th scope="col">Pais:</th>
      <th><%=@supplier.country%></th>
    </tr>
    <tr>
      <th scope="col">Ciudad:</th>
      <th><%=@supplier.city%></th>
    </tr>
    <tr>
      <th scope="col">Número de categorías:</th>
      <th><%=@supplier.categories.length%></th>
    </tr>
    <tr>
      <th scope="col">Número de productos:</th>
      <th>
        <%produ=0%>
        <%@supplier.categories.each do |cate|%>
          <%produ = produ + cate.products.length%>
        <%end%>
        <%=produ%>
      </th>
    </tr>
    <tr>
      <th scope="col">Descuento por usuario registrado:</th>
      <th><%=@supplier.p_ure%>%</th>
    </tr>
    <tr>
      <th scope="col">Descuento especial del día:</th>
      <th><%=@supplier.p_dia%>%</th>
    </tr>
    <tr>
      <th scope="col">Descuento por usuario frecuente:</th>
      <th><%=@supplier.p_cmin%>%</th>
    </tr>
    <tr>
      <th scope="col">Descuento por usuario mayorista:</th>
      <th><%=@supplier.p_cmay%>%</th>
    </tr>
    <tr>
      <th scope="col">Número de productos comprados para ser usuario mayorista:</th>
      <th><%=@supplier.cant_may%> productos</th>
    </tr>

  </tbody>
</table>
