<h1>Detalles del proveedor</h1>

<h4>Nombre:</h4>
<%=@supplier.full_name%>
<h4>Email:</h4>
<%=@supplier.email%>
<h4>Celular:</h4>
<%=@supplier.cel%>
<h4>Dirección:</h4>
<%=@supplier.dir%>
<h4>Pais:</h4>
<%=@supplier.country%>
<h4>Ciudad:</h4>
<%=@supplier.city%>
<h4>Número de ventas:</h4>
<%=@supplier.sales%>
