<div class="cover-image supplier-cover" style="background-image: url(<%=@supplier.cover_img%>);">
  <!-- <img src="<%=@supplier.cover_img%> " class="supplier-cover"> -->

</div>
<div class="franja" id="espaciadora">
  <div class="profile-image">
    <img src="<%=@supplier.profile_img%>">
  </div>
</div>
<div class="description-container">
  <div class="supplier-options color-naranja">
    <% if supplier_signed_in? && current_supplier.id == @supplier.id%>
      <%= link_to edit_supplier_registration_path, class: "admin-link" do%>
        <button type="button" name="button" class="redirect-button arial-bold color-gris-oscuro">Editar pefil proveedor</button>
      <%end%>

      <%= link_to my_products_path, class: "admin-link" do%>
        <button type="button" name="button" class="redirect-button arial-bold color-gris-oscuro">Administrar mis productos</button>
      <%end%>

    <%end%>
    <%= link_to supplier_lists_path(current_supplier), class: "admin-link" do%>
    <button type="button" name="button" class="redirect-button arial-bold color-gris-oscuro">Mis descuentos y envíos</button>
    <%end%>

    <h4 class="arial-bold color-naranja-oscuro">Categorías <%=@supplier.full_name%></h4>

    |<%= form_tag supplier_path, method: :get do%>
      <div class="form-group">
        <%=submit_tag "Todos los productos", class:"supplier-product-selector color-naranja"%>
      </div>
    <% end %>|
    <% @supplier_subcategories.each do |subcategory| %>

      <%= form_tag supplier_path, method: :get do%>
      <div class="form-group">

        <%= hidden_field :subcategory, params[:subcategory], value: subcategory.id %>
        <%=submit_tag subcategory.title, class:"supplier-product-selector color-naranja"%>
      </div>
      <% end %>|


    <%end%>
  </div>

  <div class="supplier-description">
    <h4 class="arial-bold">Descripción</h4>
    <p><%=@supplier.description%></p>
    <table class="table table-striped supplier-table">
        <tr>
          <th scope="col">Nombre:</th>
          <th><%=@supplier.full_name%></th>
        </tr>
        <tr>
          <th scope="col">Pais:</th>
          <th><%=@supplier.country%></th>
        </tr>
        <tr>
          <th scope="col">Ciudad:</th>
          <th><%=@supplier.city%></th>
        </tr>
        <tr>
          <th scope="col">Descuentos entre:</th>
          <th>2% y 15%</th>
        </tr>
        <!-- <tr>
          <th scope="col">Email:</th>
          <th><%=@supplier.email%></th>
        </tr>
        <tr>
          <th scope="col">Celular:</th>
          <th><%=@supplier.cel%></th>
        </tr>
        <tr>
          <th scope="col">Dirección:</th>
          <th><%=@supplier.dir%></th>
        </tr>
        <tr>
          <th scope="col">Número de productos:</th>
          <th>
            <%=@supplier.products.length%>
          </th>
        </tr> -->
    </table>
  </div>
</div>

<h4 class="our-products century-gothic">Nuestros productos</h4>

<div class="products">
  <%@product_search.each do |product|%>
    <div class="product-container">
      <%=link_to [product.sub_category.category,product.sub_category, product] do%>

        <img src="<%=product.img_url%>" class="adjust-product-img">
        <div class="product-info">
          <h5 class="century-gothic"><%=product.title%></h5>
          <h6 class="color-naranja century-gothic-bold">$<%=number_with_delimiter(product.price, :delimiter => '.')%></h6>
        </div>
      <%end%>
    </div>
  <%end%>
</div>

<h4 class="our-products century-gothic">Comentarios</h4>
<div class="product_comments">
	<% @supplier.supplier_comments.each do |comment| %>
	  <div class="panel panel-default">
			<header class="panel-heading"> <b><%= comment.user.full_name %> dice:</b></header>
	    <div class="panel-body"><%= comment.body %></div>
	  </div>
	<% end %>
	<% if signed_in? %>
    <%= form_for [@supplier, @supplier.supplier_comments.build], remote: true do |f| %>
      <div >
        <%= f.text_area :body, placeholder: "Agregar comentario", class:'comment-field' %>
      </div>

      <div>
        <%= f.submit "Comentar", class: "btn submit-supplier-comment" %>
      </div>
    <% end %>
  <%else%>
    <h5 class="panel-heading color-naranja">Debes ingresar como cliente para dejar tu comentario</h5>
  <% end %>


<script>
  // new ResizeSupplierCover();
  new ResizeProductImg();
  new DeleteActiveClass();
  new DeleteActiveLinkClass();
  new AddEditSupplierActiveClass();
</script>
