<!DOCTYPE html>
<html>
<head>
  <title>Boomket</title>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" type="text/CSS" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav >
    <div class="nav-top">
      <%= link_to categories_path, :class=>"logo" do%>
      <img src="https://drive.google.com/uc?export=view&id=1dpUUX6C5hEK4gdfIfiF5DMXoYlCf7-Oz">
      <%end%>
      <%= form_tag categories_path, method: :get, class:"search" do %>
      <div class="form-group">
        <p class="arial-italic">"El lugar donde se hacen los buenos negocios"</p>
        <%= text_field_tag :concept, params[:concept], class: "buscador arial", placeholder: "Buscar productos o proveedores" %>
        <button type="submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
      <% end %>

      <div class="login-signin">
        <h6 class:"arial-bold">Ingresar / Registrarme</h6>
        <%= link_to supplier_session_path, class:"arial-italic", id:'supplier-link' do%>
        Proveedor <img src="https://drive.google.com/uc?export=view&id=1895SZvf-fhMmjJWIj0GB41ANYtASQHiy">
        <%end%>
        <%= link_to user_session_path, class:"arial-italic", id:'user-link' do%>
        Cliente <img src="https://drive.google.com/uc?export=view&id=1cj6j5DjBkl7JtrzDj6yvuqGXY8cfiMvv">
        <%end%>
        <a href="javascript:void(0);" id="hamburger" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
    </div>
  </nav>

  <div class="topnav" id="myTopnav">
    <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="arial-bold">Productos</span>
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="drop-down-menu">
          <li><a class="dropdown-item dropdown-category dropdown-toggle"><img src="https://drive.google.com/uc?export=view&id=13qo8CqyrXIhoT3myBq8d3cjRfQWlK_Gq" class="category-icon"><img src="https://drive.google.com/uc?export=view&id=1a0h1pyjOfy2Z450tcP1gL7FFUZ1_O_ww" class="category-icon hide">Hombre</a>
            <ul class="dropdown-menu menu-2">
              <div class="sub-category-left">
                <h5 class="color-naranja sub-categories-title">Ropa</h5>
                <%=link_to @categories.all[0].sub_categories.all[0].title, category_sub_category_products_path(@categories.all[0], @categories.all[0].sub_categories.all[0]), class:"dropdown-item"%>
                <%=link_to @categories.all[0].sub_categories.all[1].title, category_sub_category_products_path(@categories.all[0], @categories.all[0].sub_categories.all[1]), class:"dropdown-item"%>
                <%=link_to @categories.all[0].sub_categories.all[2].title, category_sub_category_products_path(@categories.all[0], @categories.all[0].sub_categories.all[2]), class:"dropdown-item"%>
                <%=link_to @categories.all[0].sub_categories.all[3].title, category_sub_category_products_path(@categories.all[0], @categories.all[0].sub_categories.all[3]), class:"dropdown-item"%>
                <%=link_to @categories.all[0].sub_categories.all[4].title, category_sub_category_products_path(@categories.all[0], @categories.all[0].sub_categories.all[4]), class:"dropdown-item"%>
                <%=link_to @categories.all[0].sub_categories.all[5].title, category_sub_category_products_path(@categories.all[0], @categories.all[0].sub_categories.all[5]), class:"dropdown-item"%>
                <%=link_to @categories.all[0].sub_categories.all[6].title, category_sub_category_products_path(@categories.all[0], @categories.all[0].sub_categories.all[6]), class:"dropdown-item"%>
                <%=link_to @categories.all[0].sub_categories.all[7].title, category_sub_category_products_path(@categories.all[0], @categories.all[0].sub_categories.all[7]), class:"dropdown-item"%>
                <%=link_to @categories.all[0].sub_categories.all[8].title, category_sub_category_products_path(@categories.all[0], @categories.all[0].sub_categories.all[8]), class:"dropdown-item"%>
                <%=link_to @categories.all[0].sub_categories.all[9].title, category_sub_category_products_path(@categories.all[0], @categories.all[0].sub_categories.all[9]), class:"dropdown-item"%>
                <%=link_to @categories.all[0].sub_categories.all[10].title, category_sub_category_products_path(@categories.all[0], @categories.all[0].sub_categories.all[10]), class:"dropdown-item"%>
                <%=link_to @categories.all[0].sub_categories.all[11].title, category_sub_category_products_path(@categories.all[0], @categories.all[0].sub_categories.all[11]), class:"dropdown-item"%>
                <%=link_to @categories.all[0].sub_categories.all[12].title, category_sub_category_products_path(@categories.all[0], @categories.all[0].sub_categories.all[12]), class:"dropdown-item"%>
              </div>
              <div class="sub-category-right">
                <h5 class="color-naranja sub-categories-title">Accesorios</h5>
                <%=link_to @categories.all[0].sub_categories.all[14].title, category_sub_category_products_path(@categories.all[0], @categories.all[0].sub_categories.all[14]), class:"dropdown-item"%>
                <%=link_to @categories.all[0].sub_categories.all[13].title, category_sub_category_products_path(@categories.all[0], @categories.all[0].sub_categories.all[13]), class:"dropdown-item"%>
                <%=link_to @categories.all[0].sub_categories.all[15].title, category_sub_category_products_path(@categories.all[0], @categories.all[0].sub_categories.all[15]), class:"dropdown-item"%>
                <%=link_to @categories.all[0].sub_categories.all[16].title, category_sub_category_products_path(@categories.all[0], @categories.all[0].sub_categories.all[16]), class:"dropdown-item"%>
                <%=link_to @categories.all[0].sub_categories.all[17].title, category_sub_category_products_path(@categories.all[0], @categories.all[0].sub_categories.all[17]), class:"dropdown-item"%>
                <%=link_to @categories.all[0].sub_categories.all[18].title, category_sub_category_products_path(@categories.all[0], @categories.all[0].sub_categories.all[18]), class:"dropdown-item"%>
                <%=link_to @categories.all[0].sub_categories.all[19].title, category_sub_category_products_path(@categories.all[0], @categories.all[0].sub_categories.all[19]), class:"dropdown-item"%>
                <%=link_to @categories.all[0].sub_categories.all[20].title, category_sub_category_products_path(@categories.all[0], @categories.all[0].sub_categories.all[20]), class:"dropdown-item"%>
                <%=link_to @categories.all[0].sub_categories.all[21].title, category_sub_category_products_path(@categories.all[0], @categories.all[0].sub_categories.all[21]), class:"dropdown-item"%>
                <%=link_to @categories.all[0].sub_categories.all[22].title, category_sub_category_products_path(@categories.all[0], @categories.all[0].sub_categories.all[22]), class:"dropdown-item"%>
              </div>
            </ul>
          </li>
          <li><a class="dropdown-item dropdown-category dropdown-toggle">Mujer</a>
            <ul class="dropdown-menu menu-2">
              <div class="sub-category-left">
                <h5 class="color-naranja sub-categories-title">Ropa</h5>
                <%=link_to @categories.all[1].sub_categories.all[0].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[0]), class:"dropdown-item"%>
                <%=link_to @categories.all[1].sub_categories.all[1].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[1]), class:"dropdown-item"%>
                <%=link_to @categories.all[1].sub_categories.all[2].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[2]), class:"dropdown-item"%>
                <%=link_to @categories.all[1].sub_categories.all[3].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[3]), class:"dropdown-item"%>
                <%=link_to @categories.all[1].sub_categories.all[4].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[4]), class:"dropdown-item"%>
                <%=link_to @categories.all[1].sub_categories.all[5].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[5]), class:"dropdown-item"%>
                <%=link_to @categories.all[1].sub_categories.all[6].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[6]), class:"dropdown-item"%>
                <%=link_to @categories.all[1].sub_categories.all[7].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[7]), class:"dropdown-item"%>
                <%=link_to @categories.all[1].sub_categories.all[8].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[8]), class:"dropdown-item"%>
                <%=link_to @categories.all[1].sub_categories.all[9].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[9]), class:"dropdown-item"%>
                <%=link_to @categories.all[1].sub_categories.all[10].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[10]), class:"dropdown-item"%>
                <%=link_to @categories.all[1].sub_categories.all[11].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[11]), class:"dropdown-item"%>
                <%=link_to @categories.all[1].sub_categories.all[12].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[12]), class:"dropdown-item"%>
                <%=link_to @categories.all[1].sub_categories.all[13].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[13]), class:"dropdown-item"%>
                <%=link_to @categories.all[1].sub_categories.all[14].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[14]), class:"dropdown-item"%>
                <%=link_to @categories.all[1].sub_categories.all[15].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[15]), class:"dropdown-item"%>
              </div>
              <div class="sub-category-right">
                <h5 class="color-naranja sub-categories-title">Accesorios</h5>
                <%=link_to @categories.all[1].sub_categories.all[16].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[16]), class:"dropdown-item"%>
                <%=link_to @categories.all[1].sub_categories.all[17].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[17]), class:"dropdown-item"%>
                <%=link_to @categories.all[1].sub_categories.all[18].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[18]), class:"dropdown-item"%>
                <%=link_to @categories.all[1].sub_categories.all[19].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[19]), class:"dropdown-item"%>
                <%=link_to @categories.all[1].sub_categories.all[20].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[20]), class:"dropdown-item"%>
                <%=link_to @categories.all[1].sub_categories.all[21].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[21]), class:"dropdown-item"%>
                <%=link_to @categories.all[1].sub_categories.all[22].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[22]), class:"dropdown-item"%>
                <%=link_to @categories.all[1].sub_categories.all[23].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[23]), class:"dropdown-item"%>
              </div>
            </ul>
          </li>
          <li><a class="dropdown-item dropdown-category dropdown-toggle">Niños y bebés</a>
              <ul class="dropdown-menu menu-2">
                <div class="sub-category-left">
                  <h5 class="color-naranja sub-categories-title">Ropa y complementos</h5>
                  <%=link_to @categories.all[2].sub_categories.all[0].title, category_sub_category_products_path(@categories.all[2], @categories.all[2].sub_categories.all[0]), class:"dropdown-item"%>
                  <%=link_to @categories.all[2].sub_categories.all[1].title, category_sub_category_products_path(@categories.all[2], @categories.all[2].sub_categories.all[1]), class:"dropdown-item"%>
                  <%=link_to @categories.all[2].sub_categories.all[2].title, category_sub_category_products_path(@categories.all[2], @categories.all[2].sub_categories.all[2]), class:"dropdown-item"%>
                  <%=link_to @categories.all[2].sub_categories.all[3].title, category_sub_category_products_path(@categories.all[2], @categories.all[2].sub_categories.all[3]), class:"dropdown-item"%>
                  <%=link_to @categories.all[2].sub_categories.all[4].title, category_sub_category_products_path(@categories.all[2], @categories.all[2].sub_categories.all[4]), class:"dropdown-item"%>
                  <%=link_to @categories.all[2].sub_categories.all[5].title, category_sub_category_products_path(@categories.all[2], @categories.all[2].sub_categories.all[5]), class:"dropdown-item"%>
                  <%=link_to @categories.all[2].sub_categories.all[6].title, category_sub_category_products_path(@categories.all[2], @categories.all[2].sub_categories.all[6]), class:"dropdown-item"%>
                  <%=link_to @categories.all[2].sub_categories.all[7].title, category_sub_category_products_path(@categories.all[2], @categories.all[2].sub_categories.all[7]), class:"dropdown-item"%>
                </div>
                <div class="sub-category-right">
                  <h5 class="color-naranja sub-categories-title">Juguetes</h5>
                  <%=link_to @categories.all[2].sub_categories.all[8].title, category_sub_category_products_path(@categories.all[2], @categories.all[2].sub_categories.all[8]), class:"dropdown-item"%>
                  <%=link_to @categories.all[2].sub_categories.all[9].title, category_sub_category_products_path(@categories.all[2], @categories.all[2].sub_categories.all[9]), class:"dropdown-item"%>
                  <%=link_to @categories.all[2].sub_categories.all[10].title, category_sub_category_products_path(@categories.all[2], @categories.all[2].sub_categories.all[10]), class:"dropdown-item"%>
                </div>
              </ul>
          </li>

          <li><a class="dropdown-item dropdown-category dropdown-toggle">Calzado y bolsos</a>
              <ul class="dropdown-menu menu-2">
                <div class="sub-category-left">
                  <h5 class="color-naranja sub-categories-title">Hombre</h5>
                  <%=link_to @categories.all[3].sub_categories.all[0].title, category_sub_category_products_path(@categories.all[3], @categories.all[3].sub_categories.all[0]), class:"dropdown-item"%>
                  <%=link_to @categories.all[3].sub_categories.all[1].title, category_sub_category_products_path(@categories.all[3], @categories.all[3].sub_categories.all[1]), class:"dropdown-item"%>
                  <%=link_to @categories.all[3].sub_categories.all[2].title, category_sub_category_products_path(@categories.all[3], @categories.all[3].sub_categories.all[2]), class:"dropdown-item"%>
                  <%=link_to @categories.all[3].sub_categories.all[3].title, category_sub_category_products_path(@categories.all[3], @categories.all[3].sub_categories.all[3]), class:"dropdown-item"%>

                </div>
                <div class="sub-category-right">
                  <h5 class="color-naranja sub-categories-title">Mujer</h5>
                  <%=link_to @categories.all[3].sub_categories.all[4].title, category_sub_category_products_path(@categories.all[3], @categories.all[3].sub_categories.all[4]), class:"dropdown-item"%>
                  <%=link_to @categories.all[3].sub_categories.all[5].title, category_sub_category_products_path(@categories.all[3], @categories.all[3].sub_categories.all[5]), class:"dropdown-item"%>
                  <%=link_to @categories.all[3].sub_categories.all[6].title, category_sub_category_products_path(@categories.all[3], @categories.all[3].sub_categories.all[6]), class:"dropdown-item"%>
                  <%=link_to @categories.all[3].sub_categories.all[7].title, category_sub_category_products_path(@categories.all[3], @categories.all[3].sub_categories.all[7]), class:"dropdown-item"%>
                  <%=link_to @categories.all[3].sub_categories.all[8].title, category_sub_category_products_path(@categories.all[3], @categories.all[3].sub_categories.all[8]), class:"dropdown-item"%>
                  <%=link_to @categories.all[3].sub_categories.all[9].title, category_sub_category_products_path(@categories.all[3], @categories.all[3].sub_categories.all[9]), class:"dropdown-item"%>
                  <%=link_to @categories.all[3].sub_categories.all[10].title, category_sub_category_products_path(@categories.all[3], @categories.all[3].sub_categories.all[10]), class:"dropdown-item"%>
                  <%=link_to @categories.all[3].sub_categories.all[11].title, category_sub_category_products_path(@categories.all[3], @categories.all[3].sub_categories.all[11]), class:"dropdown-item"%>
                </div>
              </ul>
          </li>

          <li><a class="dropdown-item dropdown-category dropdown-toggle">Tecnología y accesorios</a>
              <ul class="dropdown-menu menu-2">
                <div class="sub-category-left">
                  <h5 class="color-naranja sub-categories-title">Accesorios</h5>
                  <%=link_to @categories.all[4].sub_categories.all[0].title, category_sub_category_products_path(@categories.all[4], @categories.all[4].sub_categories.all[0]), class:"dropdown-item"%>
                  <%=link_to @categories.all[4].sub_categories.all[1].title, category_sub_category_products_path(@categories.all[4], @categories.all[4].sub_categories.all[1]), class:"dropdown-item"%>
                  <%=link_to @categories.all[4].sub_categories.all[2].title, category_sub_category_products_path(@categories.all[4], @categories.all[4].sub_categories.all[2]), class:"dropdown-item"%>
                  <%=link_to @categories.all[4].sub_categories.all[3].title, category_sub_category_products_path(@categories.all[4], @categories.all[4].sub_categories.all[3]), class:"dropdown-item"%>
                  <%=link_to @categories.all[4].sub_categories.all[4].title, category_sub_category_products_path(@categories.all[4], @categories.all[4].sub_categories.all[4]), class:"dropdown-item"%>
                  <%=link_to @categories.all[4].sub_categories.all[5].title, category_sub_category_products_path(@categories.all[4], @categories.all[4].sub_categories.all[5]), class:"dropdown-item"%>
                  <%=link_to @categories.all[4].sub_categories.all[6].title, category_sub_category_products_path(@categories.all[4], @categories.all[4].sub_categories.all[6]), class:"dropdown-item"%>
                  <%=link_to @categories.all[4].sub_categories.all[7].title, category_sub_category_products_path(@categories.all[4], @categories.all[4].sub_categories.all[7]), class:"dropdown-item"%>
                  <%=link_to @categories.all[4].sub_categories.all[8].title, category_sub_category_products_path(@categories.all[4], @categories.all[4].sub_categories.all[8]), class:"dropdown-item"%>
                  <%=link_to @categories.all[4].sub_categories.all[9].title, category_sub_category_products_path(@categories.all[4], @categories.all[4].sub_categories.all[9]), class:"dropdown-item"%>
                </div>
              </ul>
          </li>

          <li><a class="dropdown-item dropdown-category dropdown-toggle">Bisutería</a>
              <ul class="dropdown-menu menu-2">
                <div class="sub-category-left">
                  <h5 class="color-naranja sub-categories-title">Bizutería de moda</h5>
                  <%=link_to @categories.all[5].sub_categories.all[0].title, category_sub_category_products_path(@categories.all[5], @categories.all[5].sub_categories.all[0]), class:"dropdown-item"%>
                  <%=link_to @categories.all[5].sub_categories.all[1].title, category_sub_category_products_path(@categories.all[5], @categories.all[5].sub_categories.all[1]), class:"dropdown-item"%>
                  <%=link_to @categories.all[5].sub_categories.all[2].title, category_sub_category_products_path(@categories.all[5], @categories.all[5].sub_categories.all[2]), class:"dropdown-item"%>
                  <%=link_to @categories.all[5].sub_categories.all[3].title, category_sub_category_products_path(@categories.all[5], @categories.all[5].sub_categories.all[3]), class:"dropdown-item"%>
                  <%=link_to @categories.all[5].sub_categories.all[4].title, category_sub_category_products_path(@categories.all[5], @categories.all[5].sub_categories.all[4]), class:"dropdown-item"%>
                  <%=link_to @categories.all[5].sub_categories.all[5].title, category_sub_category_products_path(@categories.all[5], @categories.all[5].sub_categories.all[5]), class:"dropdown-item"%>
                </div>
              </ul>
          </li>

          <li><a class="dropdown-item dropdown-category dropdown-toggle">Casa y jardín</a>
              <ul class="dropdown-menu menu-2">
                <div class="sub-category-left">
                  <h5 class="color-naranja sub-categories-title">Decoración del hogar</h5>
                  <%=link_to @categories.all[6].sub_categories.all[0].title, category_sub_category_products_path(@categories.all[6], @categories.all[6].sub_categories.all[0]), class:"dropdown-item"%>
                  <%=link_to @categories.all[6].sub_categories.all[1].title, category_sub_category_products_path(@categories.all[6], @categories.all[6].sub_categories.all[1]), class:"dropdown-item"%>
                  <%=link_to @categories.all[6].sub_categories.all[2].title, category_sub_category_products_path(@categories.all[6], @categories.all[6].sub_categories.all[2]), class:"dropdown-item"%>
                  <%=link_to @categories.all[6].sub_categories.all[3].title, category_sub_category_products_path(@categories.all[6], @categories.all[6].sub_categories.all[3]), class:"dropdown-item"%>
                  <%=link_to @categories.all[6].sub_categories.all[4].title, category_sub_category_products_path(@categories.all[6], @categories.all[6].sub_categories.all[4]), class:"dropdown-item"%>
                  <%=link_to @categories.all[6].sub_categories.all[5].title, category_sub_category_products_path(@categories.all[6], @categories.all[6].sub_categories.all[5]), class:"dropdown-item"%>
                  <%=link_to @categories.all[6].sub_categories.all[6].title, category_sub_category_products_path(@categories.all[6], @categories.all[6].sub_categories.all[6]), class:"dropdown-item"%>

                </div>
                <div class="sub-category-right">
                  <h5 class="color-naranja sub-categories-title">Textil del hogar</h5>
                  <%=link_to @categories.all[6].sub_categories.all[7].title, category_sub_category_products_path(@categories.all[6], @categories.all[6].sub_categories.all[7]), class:"dropdown-item"%>
                  <%=link_to @categories.all[6].sub_categories.all[8].title, category_sub_category_products_path(@categories.all[6], @categories.all[6].sub_categories.all[8]), class:"dropdown-item"%>
                  <%=link_to @categories.all[6].sub_categories.all[9].title, category_sub_category_products_path(@categories.all[6], @categories.all[6].sub_categories.all[9]), class:"dropdown-item"%>
                  <%=link_to @categories.all[6].sub_categories.all[10].title, category_sub_category_products_path(@categories.all[6], @categories.all[6].sub_categories.all[10]), class:"dropdown-item"%>
                  <%=link_to @categories.all[6].sub_categories.all[11].title, category_sub_category_products_path(@categories.all[6], @categories.all[6].sub_categories.all[11]), class:"dropdown-item"%>
                  <%=link_to @categories.all[6].sub_categories.all[12].title, category_sub_category_products_path(@categories.all[6], @categories.all[6].sub_categories.all[12]), class:"dropdown-item"%>
                  <%=link_to @categories.all[6].sub_categories.all[14].title, category_sub_category_products_path(@categories.all[6], @categories.all[6].sub_categories.all[14]), class:"dropdown-item"%>
                  <%=link_to @categories.all[6].sub_categories.all[13].title, category_sub_category_products_path(@categories.all[6], @categories.all[6].sub_categories.all[13]), class:"dropdown-item"%>
                  <%=link_to @categories.all[6].sub_categories.all[15].title, category_sub_category_products_path(@categories.all[6], @categories.all[6].sub_categories.all[15]), class:"dropdown-item"%>
                </div>
              </ul>
          </li>

          <li><a class="dropdown-item dropdown-category dropdown-toggle">Cocina comedor y bar</a>
              <ul class="dropdown-menu menu-2">
                <div class="sub-category-left">
                  <h5 class="color-naranja sub-categories-title">Bizutería de moda</h5>
                  <%=link_to @categories.all[7].sub_categories.all[0].title, category_sub_category_products_path(@categories.all[7], @categories.all[7].sub_categories.all[0]), class:"dropdown-item"%>
                  <%=link_to @categories.all[7].sub_categories.all[1].title, category_sub_category_products_path(@categories.all[7], @categories.all[7].sub_categories.all[1]), class:"dropdown-item"%>
                  <%=link_to @categories.all[7].sub_categories.all[2].title, category_sub_category_products_path(@categories.all[7], @categories.all[7].sub_categories.all[2]), class:"dropdown-item"%>
                  <%=link_to @categories.all[7].sub_categories.all[3].title, category_sub_category_products_path(@categories.all[7], @categories.all[7].sub_categories.all[3]), class:"dropdown-item"%>
                  <%=link_to @categories.all[7].sub_categories.all[4].title, category_sub_category_products_path(@categories.all[7], @categories.all[7].sub_categories.all[4]), class:"dropdown-item"%>
                  <%=link_to @categories.all[7].sub_categories.all[5].title, category_sub_category_products_path(@categories.all[7], @categories.all[7].sub_categories.all[5]), class:"dropdown-item"%>
                  <%=link_to @categories.all[7].sub_categories.all[6].title, category_sub_category_products_path(@categories.all[7], @categories.all[7].sub_categories.all[6]), class:"dropdown-item"%>

                </div>
              </ul>
          </li>
      </ul>




    <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="menu-products">
      <% @categories.each do |catego|%>
      <%=link_to catego.title, category_sub_categories_path(catego), class:"dropdown-item"%>
      <%end%>
    </div> -->


    <%= link_to "Noticias", blog_path, class:"arial-bold", id:'blog'%>
    <a href="#contact" ><span class="arial-bold">Preguntas frecuentes</span></a>
    <% if not supplier_signed_in?%>
      <%= render 'layouts/cart' %>
    <%end%>
    <% if user_signed_in? %>
      <%= link_to "Mi perfil usuario", my_profile_path, class:"arial-bold", id:'u-profile'  %>
    <%end%>
    <% if supplier_signed_in? %>
      <%= link_to "Mi perfil proveedor", supplier_path(current_supplier), class:"arial-bold", id:'s-profile'%>
    <%end%>
    <%= link_to "Administrador", admin_path, id:'admin', class:"arial-bold"%>
    <% if user_signed_in? %>
      <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class:"arial-bold" %>
    <%end%>
    <% if supplier_signed_in? %>
      <%= link_to "Cerrar sesión", destroy_supplier_session_path, method: :delete, class:"arial-bold"%>
    <% end %>
  </div>

  <% if (not notice == nil) || (not alert== nil)%>
  <div class=" notifications">
    <% if  not notice== nil%>
    <p class="alert alert-info alert-dismissible fade show"><%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </p>

    <%end%>
    <% if not alert== nil%>
    <p class="alert alert-danger alert-dismissible fade show"><%= alert %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </p>
    <%end%>
  </div>
  <%end%>

  <%= yield %>


  <!-- <footer>
  <a href="#">Terminos y condiciones</a>
  <a href="#">Politicas de privacidad</a>
  <%= link_to "Contáctanos", contact_path%>
</footer> -->
<script type="text/javascript">
  $( document ).ready( function () {
     $( '.dropdown-menu a.dropdown-toggle' ).on( 'click', function ( e ) {
         var $el = $( this );
         var $parent = $( this ).offsetParent( ".dropdown-menu" );
         if ( !$( this ).next().hasClass( 'show' ) ) {
             $( this ).parents( '.dropdown-menu' ).first().find( '.show' ).removeClass( "show" );
         }
         var $subMenu = $( this ).next( ".dropdown-menu" );
         $subMenu.toggleClass( 'show' );

         $( this ).parent( "li" ).toggleClass( 'show' );

         $( this ).parents( 'li.nav-item.dropdown.show' ).on( 'hidden.bs.dropdown', function ( e ) {
             $( '.dropdown-menu .show' ).removeClass( "show" );
         } );

          if ( !$parent.parent().hasClass( 'navbar-nav' ) ) {
             $el.next().css( { "top": -2, "left": $parent.outerWidth() - 2 } );
         }

         return false;
     } );
   } );
</script>
</body>
</html>
