<!DOCTYPE html>
<html>
<head>
  <title>Boomket</title>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" type="text/CSS" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav >
    <div class="nav-top">
      <%= link_to categories_path, :class=>"logo" do%>
      <img src="https://drive.google.com/uc?export=view&id=1dpUUX6C5hEK4gdfIfiF5DMXoYlCf7-Oz">
      <%end%>
      <%= form_tag categories_path, method: :get, class:"search" do %>
      <div class="form-group">
        <p class="arial-italic">"El lugar donde se hacen los buenos negocios"</p>
        <%= text_field_tag :concept, params[:concept], class: "buscador arial", placeholder: "Buscar productos o proveedores" %>
        <button type="submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
      <% end %>

      <div class="login-signin">
        <h6 class:"arial-bold">Ingresar / Registrarme</h6>
        <%= link_to supplier_session_path, class:"arial-italic", id:'supplier-link' do%>
        Proveedor <img src="https://drive.google.com/uc?export=view&id=1895SZvf-fhMmjJWIj0GB41ANYtASQHiy">
        <%end%>
        <%= link_to user_session_path, class:"arial-italic", id:'user-link' do%>
        Cliente <img src="https://drive.google.com/uc?export=view&id=1cj6j5DjBkl7JtrzDj6yvuqGXY8cfiMvv">
        <%end%>
        <a href="javascript:void(0);" id="hamburger" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
    </div>
  </nav>

  <div class="topnav" id="myTopnav">
    <a class=" dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="arial-bold">Productos</span>
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="drop-down-menu">
          <li><a class="dropdown-item dropdown-toggle">Ropa hombre</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Submenu action</a></li>
              <li><a class="dropdown-item" href="#">Another submenu action</a>
              <li><a class="dropdown-item" href="#">Subsubmenu</a></li>
              <li><a class="dropdown-item" href="#">Second subsubmenu</a>  </li>
            </ul>
          </li>
          <li><a class="dropdown-item dropdown-toggle">Ropa mujer</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Submenu action</a></li>
              <li><a class="dropdown-item" href="#">Another submenu action</a>
              <li><a class="dropdown-item" href="#">Subsubmenu</a></li>
              <li><a class="dropdown-item" href="#">Second subsubmenu</a>  </li>
          </ul>
        </li>
          <li><a class="dropdown-item dropdown-toggle">Niños y bebés</a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Submenu action</a></li>
                  <li><a class="dropdown-item" href="#">Another submenu action</a></l
                  <li><a class="dropdown-item" href="#">Subsubmenu</a></li>
                  <li><a class="dropdown-item" href="#">Second subsubmenu</a>  </li>
              </ul>
          </li>

          <li><a class="dropdown-item dropdown-toggle">Calzado y bolsos</a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Submenu action 2</a></li>
                  <li><a class="dropdown-item" href="#">Another submenu action 2</a></li>
                  <li><a class="dropdown-item" href="#">Subsubmenu</a></li>
                  <li><a class="dropdown-item" href="#">Second subsubmenu 3</a></li>
              </ul>
          </li>

          <li><a class="dropdown-item dropdown-toggle">Calzado y bolsos</a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Submenu action 2</a></li>
                  <li><a class="dropdown-item" href="#">Another submenu action 2</a></li>
                  <li><a class="dropdown-item" href="#">Subsubmenu</a></li>
                  <li><a class="dropdown-item" href="#">Second subsubmenu 3</a></li>
                  <li><a class="dropdown-item" href="#">Submenu action 2</a></li>
                  <li><a class="dropdown-item" href="#">Another submenu action 2</a></li>
                  <li><a class="dropdown-item" href="#">Subsubmenu</a></li>
                  <li><a class="dropdown-item" href="#">Second subsubmenu 3</a></li>
              </ul>
          </li>

      </ul>


    <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="menu-products">
      <% @categories.each do |catego|%>
      <%=link_to catego.title, category_sub_categories_path(catego), class:"dropdown-item"%>
      <%end%>
    </div> -->


    <%= link_to "Noticias", blog_path, class:"arial-bold", id:'blog'%>
    <a href="#contact" ><span class="arial-bold">Preguntas frecuentes</span></a>
    <% if not supplier_signed_in?%>
      <%= render 'layouts/cart' %>
    <%end%>
    <% if user_signed_in? %>
      <%= link_to "Mi perfil usuario", my_profile_path, class:"arial-bold", id:'u-profile'  %>
    <%end%>
    <% if supplier_signed_in? %>
      <%= link_to "Mi perfil proveedor", supplier_path(current_supplier), class:"arial-bold", id:'s-profile'%>
    <%end%>
    <%= link_to "Administrador", admin_path, id:'admin', class:"arial-bold"%>
    <% if user_signed_in? %>
      <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class:"arial-bold" %>
    <%end%>
    <% if supplier_signed_in? %>
      <%= link_to "Cerrar sesión", destroy_supplier_session_path, method: :delete, class:"arial-bold"%>
    <% end %>
  </div>

  <% if (not notice == nil) || (not alert== nil)%>
  <div class=" notifications">
    <% if  not notice== nil%>
    <p class="alert alert-info alert-dismissible fade show"><%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </p>

    <%end%>
    <% if not alert== nil%>
    <p class="alert alert-danger alert-dismissible fade show"><%= alert %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </p>
    <%end%>
  </div>
  <%end%>

  <%= yield %>


  <!-- <footer>
  <a href="#">Terminos y condiciones</a>
  <a href="#">Politicas de privacidad</a>
  <%= link_to "Contáctanos", contact_path%>
</footer> -->
<script type="text/javascript">
  $( document ).ready( function () {
     $( '.dropdown-menu a.dropdown-toggle' ).on( 'click', function ( e ) {
         var $el = $( this );
         var $parent = $( this ).offsetParent( ".dropdown-menu" );
         if ( !$( this ).next().hasClass( 'show' ) ) {
             $( this ).parents( '.dropdown-menu' ).first().find( '.show' ).removeClass( "show" );
         }
         var $subMenu = $( this ).next( ".dropdown-menu" );
         $subMenu.toggleClass( 'show' );

         $( this ).parent( "li" ).toggleClass( 'show' );

         $( this ).parents( 'li.nav-item.dropdown.show' ).on( 'hidden.bs.dropdown', function ( e ) {
             $( '.dropdown-menu .show' ).removeClass( "show" );
         } );

          if ( !$parent.parent().hasClass( 'navbar-nav' ) ) {
             $el.next().css( { "top": -2, "left": $parent.outerWidth() - 2 } );
         }

         return false;
     } );
   } );
</script>
</body>
</html>
