<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/CSS" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-md navbar-light ">
      <!-- <a class="navbar-brand" href="#"><h1>E-commerce</h1></a> -->
      <%= link_to alfa_path, class: "navbar-brand", id: "title" do%>
        <strong>Alfa</strong>
      <%end%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars fa-inverse" aria-hidden="true"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav   ml-auto" id="links">
          <li class="nav-item text-center">
            <strong><%= link_to "Administrador", admin_path, :class=>"nav-link text-center", id: "admin"%></strong>
          </li>
          <li class="nav-item text-center">
            <strong><%= link_to "Proveedor", suppli_path, :class=>"nav-link text-center", id: "admin"%></strong>
          </li>
          <li class="nav-item text-center">
            <strong><%= link_to "¿Quiénes somos?", about_path, :class=>"nav-link text-center", id: "about"%></strong>
          </li>
          <li class="nav-item text-center">
            <strong><%= link_to "Categorías", categories_path, :class=>"nav-link text-center", id: "tienda"%></strong>
          </li>
          <li class="nav-item text-center">
            <strong><%= link_to "Contáctanos", contact_path, :class=>"nav-link", id: "contact"%></strong>
          </li>

          <% if not supplier_signed_in?%>
            <li class="cart nav-item text-center">
              <%= render 'layouts/cart' %>
            </li>
          <%end%>

          <% if user_signed_in? %>
            <li class="nav-item text-center">
              <strong><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, :class=>"nav-link", id: "u-signout"  %></strong>
            </li>

          <% elsif supplier_signed_in? %>
          <li class="nav-item text-center">
            <strong><%= link_to "Cerrar sesión", destroy_supplier_session_path, method: :delete, :class=>"nav-link", id: "p-signout"%></strong>
          </li>
          <% else %>
          <!-- Button trigger modal -->
          <li class="nav-item i-r-link text-center" data-toggle="modal" data-target="#exampleModal">
            <strong>Ingresar/Registrarme</strong>
          </li>
          <% end %>
        </ul>

      </div>
      </nav>



      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="l-user">
                <strong><%= link_to user_session_path, id: "m-user" do%>
                  <img src="https://drive.google.com/uc?export=view&id=1qc_kSPGM_LZ09CYYx8Yoz0yGjmP9lXAL">
                  <p>Ingresar como usuario</p>
                <%end%></strong>
                <p class="p-description">Obtén increibles descuentos</p>
              </div>
              <div class="l-suppli">
                <strong><%= link_to supplier_session_path, id: "m-supplier" do%>
                  <img src="https://drive.google.com/uc?export=view&id=1H0LWdazuzXMPeweZdMn00eyssoyaleuq">
                  <p>Ingresar como proveedor</p>
                <%end%></strong>
                <p class="p-description">Promociona tus productos</p>
              </div>

            </div>
          </div>
        </div>
      </div>


    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>

  </body>
</html>
