<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/CSS" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Barra de navegación -->
    <!-- <nav class="navbar navbar-expand-md navbar-light ">
      <%= link_to alfa_path, class: "navbar-brand", id: "title" do%>
        <strong>Alfa</strong>
      <%end%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars fa-inverse" aria-hidden="true"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav   ml-auto" id="links">
          <li class="nav-item text-center">
            <strong><%= link_to "Administrador", admin_path, :class=>"nav-link text-center", id: "admin"%></strong>
          </li>
          <% if supplier_signed_in? %>
          <li class="nav-item text-center">
            <strong><%= link_to "Mi perfil proveedor", supplier_path(current_supplier), :class=>"nav-link text-center", id: "admin"%></strong>
          </li>
          <%end%>
          <% if user_signed_in? %>
            <li class="nav-item text-center">
              <strong><%= link_to "Mi perfil usuario", my_profile_path, :class=>"nav-link text-center", id: "admin"  %></strong>
            </li>
          <%end%>
          <li class="nav-item text-center">
            <strong><%= link_to "¿Quiénes somos?", about_path, :class=>"nav-link text-center", id: "about"%></strong>
          </li>
          <li class="nav-item text-center">
            <strong><%= link_to "Categorías", categories_path, :class=>"nav-link text-center", id: "tienda"%></strong>
          </li>
          <li class="nav-item text-center">
            <strong><%= link_to "Contáctanos", contact_path, :class=>"nav-link", id: "contact"%></strong>
          </li>
          <li class="nav-item text-center">
            <strong><%= link_to "Blog", blog_path, :class=>"nav-link", id: "blog"%></strong>
          </li>

          <% if not supplier_signed_in?%>
            <li class="cart nav-item text-center">
              <%= render 'layouts/cart' %>
            </li>
          <%end%>

          <% if user_signed_in? %>
            <li class="nav-item text-center">
              <strong><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, :class=>"nav-link", id: "u-signout"  %></strong>
            </li>

          <% elsif supplier_signed_in? %>
          <li class="nav-item text-center">
            <strong><%= link_to "Cerrar sesión", destroy_supplier_session_path, method: :delete, :class=>"nav-link", id: "p-signout"%></strong>
          </li>
          <% else %>
          <li class="nav-item i-r-link text-center" data-toggle="modal" data-target="#exampleModal">
            <strong>Ingresar/Registrarme</strong>
          </li>
          <% end %>
        </ul>

      </div>
      </nav> -->

      <nav >
      <div class="nav-top">
        <%= link_to categories_path, :class=>"logo" do%>
        <img src="https://drive.google.com/uc?export=view&id=1dpUUX6C5hEK4gdfIfiF5DMXoYlCf7-Oz">
        <%end%>
        <form class="search">
          <p>"El lugar donde se hacen los buenos negocios"</p>
          <input class="buscador" type="search" placeholder="Buscar productos o proveedores" aria-label="Search">
            <button type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>
        <div class="login-signin">
          <h6>Ingresar / Registrarme</h6>
          <%= link_to supplier_session_path do%>
          Proveedor <img src="https://drive.google.com/uc?export=view&id=1895SZvf-fhMmjJWIj0GB41ANYtASQHiy">
          <%end%>
          <%= link_to user_session_path do%>
          Cliente <img src="https://drive.google.com/uc?export=view&id=1cj6j5DjBkl7JtrzDj6yvuqGXY8cfiMvv">
          <%end%>
          <a href="javascript:void(0);" id="hamburger" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
      </div>




    </nav>

    <div class="topnav" id="myTopnav">
      <a class=" dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Productos
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="menu-products">
        <% @categories.each do |catego|%>
          <%=link_to catego.title, category_products_path(catego), class:"dropdown-item"%>
        <%end%>
      </div>
      <%= link_to "Noticias", blog_path%>
      <a href="#contact">Preguntas frecuentes</a>
      <% if not supplier_signed_in?%>
        <%= render 'layouts/cart' %>
      <%end%>
      <% if user_signed_in? %>
        <%= link_to "Mi perfil usuario", my_profile_path  %>
      <%end%>
      <% if supplier_signed_in? %>
        <%= link_to "Mi perfil proveedor", supplier_path(current_supplier)%>
      <%end%>
      <%= link_to "Administrador", admin_path, class: "active"%>
      <% if user_signed_in? %>
          <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
      <%end%>
      <% if supplier_signed_in? %>
        <%= link_to "Cerrar sesión", destroy_supplier_session_path, method: :delete%>
      <% end %>
    </div>


    <div class=" notifications">
      <% if  not notice== nil%>
      <p class="alert alert-info alert-dismissible fade show"><%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </p>

      <%end%>
      <% if not alert== nil%>
      <p class="alert alert-danger alert-dismissible fade show"><%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </p>
      <%end%>
    </div>
    <div class="container">
      <%= yield %>
    </div>

    <footer>
      <a href="#">Terminos y condiciones</a>
      <a href="#">Politicas de privacidad</a>
      <%= link_to "Contáctanos", contact_path%>
    </footer>

  </body>
</html>
