<!DOCTYPE html>
<html>
<head>
  <title>Boomket</title>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
  <link rel="shortcut icon" type="image/x-icon" href= "<%=image_url("icono-boomket.png")%>"  />
  <link rel="stylesheet" type="text/CSS" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav >
    <div class="nav-top">
      <%= link_to categories_path, :class=>"logo" do%>
      <%= image_tag "inicio/Boomket-logotipo.png" %>
      <%end%>
      <%= form_tag categories_path, method: :get, class:"search" do %>
      <div class="form-group">
        <p class="arial-italic">"El lugar donde se hacen los buenos negocios"</p>
        <%= text_field_tag :concept, params[:concept], class: "buscador arial", placeholder: "Buscar productos o proveedores" %>
        <button type="submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
      <% end %>

      <div class="login-signin">
        <h6 class:"arial-bold">Ingresar / Registrarme</h6>
        <%= link_to supplier_session_path, class:"arial-italic", id:'supplier-link' do%>
        Proveedor <%=image_tag "inicio/Provepng.png"%>
        <%end%>
        <%= link_to user_session_path, class:"arial-italic", id:'user-link' do%>
        Cliente <%=image_tag "inicio/Usuariopng.png"%>
        <%end%>
        <a href="javascript:void(0);" id="hamburger" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
    </div>
  </nav>

  <div class="topnav" id="myTopnav">
    <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="arial-bold">Productos <i class="fa fa-caret-down" aria-hidden="true"></i></span>
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="drop-down-menu">
          <li><a class="dropdown-item dropdown-category dropdown-toggle"><%=image_tag "mini_categorias/Hombregris-27.svg",class: "category-icon-gris"%><%=image_tag "mini_categorias/Hombrenaranja-28.svg",class: "category-icon-naranja"%>Hombre</a>
            <ul class="dropdown-menu menu-2">
              <div class="sub-category-left">
                <h5 class="color-naranja sub-categories-title">Ropa</h5>
                <%(0..12).each do |i| %>
                  <%=link_to @categories.all[0].sub_categories.all[i].title, category_sub_category_products_path(@categories.all[0], @categories.all[0].sub_categories.all[i]), class:"dropdown-item"%>
                <%end%>

              </div>
              <div class="sub-category-right">
                <h5 class="color-naranja sub-categories-title">Accesorios</h5>
                <%(14..22).each do |i| %>
                  <%=link_to @categories.all[0].sub_categories.all[i].title, category_sub_category_products_path(@categories.all[0], @categories.all[0].sub_categories.all[i]), class:"dropdown-item"%>
                <%end%>

              </div>
            </ul>
          </li>
          <li><a class="dropdown-item dropdown-category dropdown-toggle"><%=image_tag "mini_categorias/Mujergris-27.svg",class: "category-icon-gris"%><%=image_tag "mini_categorias/Mujernaranja-28.svg",class: "category-icon-naranja"%>Mujer</a>
            <ul class="dropdown-menu menu-2">
              <div class="sub-category-left">
                <h5 class="color-naranja sub-categories-title">Ropa</h5>
                <%(0..15).each do |i| %>
                  <%=link_to @categories.all[1].sub_categories.all[i].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[i]), class:"dropdown-item"%>
                <%end%>
              </div>
              <div class="sub-category-right">
                <h5 class="color-naranja sub-categories-title">Accesorios</h5>
                <%(16..23).each do |i| %>
                  <%=link_to @categories.all[1].sub_categories.all[i].title, category_sub_category_products_path(@categories.all[1], @categories.all[1].sub_categories.all[i]), class:"dropdown-item"%>
                <%end%>
              </div>
            </ul>
          </li>
          <li><a class="dropdown-item dropdown-category dropdown-toggle"><%=image_tag "mini_categorias/Niñosgris-27.svg",class: "category-icon-gris"%><%=image_tag "mini_categorias/Niñosnaranja-28.svg",class: "category-icon-naranja"%>Niños y bebés</a>
              <ul class="dropdown-menu menu-2">
                <div class="sub-category-left">
                  <h5 class="color-naranja sub-categories-title">Ropa y complementos</h5>
                  <%(0..7).each do |i| %>
                    <%=link_to @categories.all[2].sub_categories.all[i].title, category_sub_category_products_path(@categories.all[2], @categories.all[2].sub_categories.all[i]), class:"dropdown-item"%>
                  <%end%>
                </div>
                <div class="sub-category-right">
                  <h5 class="color-naranja sub-categories-title">Juguetes</h5>
                  <%(8..10).each do |i| %>
                    <%=link_to @categories.all[2].sub_categories.all[i].title, category_sub_category_products_path(@categories.all[2], @categories.all[2].sub_categories.all[i]), class:"dropdown-item"%>
                  <%end%>
                </div>
              </ul>
          </li>

          <li><a class="dropdown-item dropdown-category dropdown-toggle"><%=image_tag "mini_categorias/Bolsogris-27.svg",class: "category-icon-gris"%><%=image_tag "mini_categorias/Bolsonaranja-28.svg",class: "category-icon-naranja"%>Calzado y bolsos</a>
              <ul class="dropdown-menu menu-2">
                <div class="sub-category-left">
                  <h5 class="color-naranja sub-categories-title">Hombre</h5>
                  <%(0..3).each do |i| %>
                    <%=link_to @categories.all[3].sub_categories.all[i].title, category_sub_category_products_path(@categories.all[3], @categories.all[3].sub_categories.all[i]), class:"dropdown-item"%>
                  <%end%>
                </div>
                <div class="sub-category-right">
                  <h5 class="color-naranja sub-categories-title">Mujer</h5>
                  <%(4..11).each do |i| %>
                    <%=link_to @categories.all[3].sub_categories.all[i].title, category_sub_category_products_path(@categories.all[3], @categories.all[3].sub_categories.all[i]), class:"dropdown-item"%>
                  <%end%>

                </div>
              </ul>
          </li>

          <li><a class="dropdown-item dropdown-category dropdown-toggle"><%=image_tag "mini_categorias/Tecnogris-27.svg",class: "category-icon-gris"%><%=image_tag "mini_categorias/Tecnonaranja-28.svg",class: "category-icon-naranja"%>Tecnología y accesorios</a>
              <ul class="dropdown-menu menu-2">
                <div class="sub-category-left">
                  <h5 class="color-naranja sub-categories-title">Accesorios</h5>
                  <%(0..9).each do |i| %>
                    <%=link_to @categories.all[4].sub_categories.all[i].title, category_sub_category_products_path(@categories.all[4], @categories.all[4].sub_categories.all[i]), class:"dropdown-item"%>
                  <%end%>
                </div>
              </ul>
          </li>

          <li><a class="dropdown-item dropdown-category dropdown-toggle"><%=image_tag "mini_categorias/Bisuteriagris-27.svg",class: "category-icon-gris"%><%=image_tag "mini_categorias/Bisuterianaranja-28.svg",class: "category-icon-naranja"%>Bisutería</a>
              <ul class="dropdown-menu menu-2">
                <div class="sub-category-left">
                  <h5 class="color-naranja sub-categories-title">Bisutería de moda</h5>
                  <%(0..5).each do |i| %>
                    <%=link_to @categories.all[5].sub_categories.all[i].title, category_sub_category_products_path(@categories.all[5], @categories.all[5].sub_categories.all[i]), class:"dropdown-item"%>
                  <%end%>
                </div>
              </ul>
          </li>

          <li><a class="dropdown-item dropdown-category dropdown-toggle"><%=image_tag "mini_categorias/Casagris-27.svg",class: "category-icon-gris"%><%=image_tag "mini_categorias/Casanaranja-28.svg",class: "category-icon-naranja"%>Casa y jardín</a>
              <ul class="dropdown-menu menu-2">
                <div class="sub-category-left">
                  <h5 class="color-naranja sub-categories-title">Decoración del hogar</h5>
                  <%(0..6).each do |i| %>
                    <%=link_to @categories.all[6].sub_categories.all[i].title, category_sub_category_products_path(@categories.all[6], @categories.all[6].sub_categories.all[i]), class:"dropdown-item"%>
                  <%end%>
                </div>
                <div class="sub-category-right">
                  <h5 class="color-naranja sub-categories-title">Textil del hogar</h5>
                  <%(7..15).each do |i| %>
                    <%=link_to @categories.all[6].sub_categories.all[i].title, category_sub_category_products_path(@categories.all[6], @categories.all[6].sub_categories.all[i]), class:"dropdown-item"%>
                  <%end%>
                </div>
              </ul>
          </li>

          <li><a class="dropdown-item dropdown-category dropdown-toggle"><%=image_tag "mini_categorias/Cocinagris-27.svg",class: "category-icon-gris"%><%=image_tag "mini_categorias/Cocinanaranja-28.svg",class: "category-icon-naranja"%>Cocina comedor y bar</a>
              <ul class="dropdown-menu menu-2">
                <div class="sub-category-left">
                  <h5 class="color-naranja sub-categories-title">Bizutería de moda</h5>
                  <%(0..6).each do |i| %>
                    <%=link_to @categories.all[7].sub_categories.all[i].title, category_sub_category_products_path(@categories.all[7], @categories.all[7].sub_categories.all[i]), class:"dropdown-item"%>
                  <%end%>
                </div>
              </ul>
          </li>

          <li><a class="dropdown-item dropdown-category dropdown-toggle"><%=image_tag "mini_categorias/Deportegris-27.svg",class: "category-icon-gris"%><%=image_tag "mini_categorias/Deportenaranja-28.svg",class: "category-icon-naranja"%>Deportes y ócio</a>
              <ul class="dropdown-menu menu-2">
                <div class="sub-category-left">
                  <h5 class="color-naranja sub-categories-title">Deportes y ócio</h5>
                  <%(0..2).each do |i| %>
                    <%=link_to @categories.all[8].sub_categories.all[i].title, category_sub_category_products_path(@categories.all[8], @categories.all[8].sub_categories.all[i]), class:"dropdown-item"%>
                  <%end%>
                </div>
              </ul>
          </li>

          <li><a class="dropdown-item dropdown-category dropdown-toggle"><%=image_tag "mini_categorias/Saludgris.svg",class: "category-icon-gris"%><%=image_tag "mini_categorias/Saludnaranja-28.svg",class: "category-icon-naranja"%>Salud y belleza</a>

          </li>

          <li><a class="dropdown-item dropdown-category dropdown-toggle"><%=image_tag "mini_categorias/Herramientagris-27.svg",class: "category-icon-gris"%><%=image_tag "mini_categorias/Herramientanaranja-28.svg",class: "category-icon-naranja"%>Ferretería y herramientas</a>

          </li>

          <li><a class="dropdown-item dropdown-category dropdown-toggle"><%=image_tag "mini_categorias/Maquinariagris-27.svg",class: "category-icon-gris"%><%=image_tag "mini_categorias/Maquinarianaranja-28.svg",class: "category-icon-naranja"%>Maquinárias y accesorios</a>

          </li>
      </ul>


    <%= link_to "Noticias", blog_path, class:"arial-bold", id:'blog'%>
    <a href="#contact" ><span class="arial-bold">Preguntas frecuentes</span></a>
                                                                                                                    <%= render 'layouts/cart' %>
                                                                                                                    <% if not supplier_signed_in?%>
                                                                                                                    <%end%>
    <% if user_signed_in? %>
      <%= link_to "Mi perfil usuario", user_path(current_user), class:"arial-bold", id:'u-profile'  %>
    <%end%>
    <% if supplier_signed_in? %>
      <%= link_to "Mi perfil proveedor", supplier_path(current_supplier), class:"arial-bold", id:'s-profile'%>
    <%end%>
    <%= link_to "Administrador", admin_path, id:'admin', class:"arial-bold"%>
    <% if user_signed_in? %>
      <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class:"arial-bold" %>
    <%end%>
    <% if supplier_signed_in? %>
      <%= link_to "Cerrar sesión", destroy_supplier_session_path, method: :delete, class:"arial-bold"%>
    <% end %>
  </div>

  <% if (not notice == nil) || (not alert== nil)%>
  <div class=" notifications">
    <% if  not notice== nil%>
    <p class="alert alert-info alert-dismissible fade show"><%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </p>

    <%end%>
    <% if not alert== nil%>
    <p class="alert alert-danger alert-dismissible fade show"><%= alert %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </p>
    <%end%>
  </div>
  <%end%>

  <%= yield %>


  <!-- <footer>
  <a href="#">Terminos y condiciones</a>
  <a href="#">Politicas de privacidad</a>
  <%= link_to "Contáctanos", contact_path%>
</footer> -->
<script type="text/javascript">
  $( document ).ready( function () {
     $( '.dropdown-menu a.dropdown-toggle' ).on( 'click', function ( e ) {
         var $el = $( this );
         var $parent = $( this ).offsetParent( ".dropdown-menu" );
         if ( !$( this ).next().hasClass( 'show' ) ) {
             $( this ).parents( '.dropdown-menu' ).first().find( '.show' ).removeClass( "show" );
         }
         var $subMenu = $( this ).next( ".dropdown-menu" );
         $subMenu.toggleClass( 'show' );

         $( this ).parent( "li" ).toggleClass( 'show' );

         $( this ).parents( 'li.nav-item.dropdown.show' ).on( 'hidden.bs.dropdown', function ( e ) {
             $( '.dropdown-menu .show' ).removeClass( "show" );
         } );

          if ( !$parent.parent().hasClass( 'navbar-nav' ) ) {
             $el.next().css( { "top": -2, "left": $parent.outerWidth() - 2 } );
         }

         return false;
     } );
   } );
</script>
</body>
</html>
